<%= form_for(@municipio) do |f| %>
  <% if @municipio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@municipio.errors.count, "error") %> prohibited this municipio from being saved:</h2>

      <ul>
      <% @municipio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comuna %><br />
    <%= f.number_field :comuna %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :population %><br />
    <%= f.number_field :population %>
  </div>
  <div class="field">
    <%= f.label :edad_mean %><br />
    <%= f.text_field :edad_mean %>
  </div>
  <div class="field">
    <%= f.label :edad_median %><br />
    <%= f.text_field :edad_median %>
  </div>
  <div class="field">
    <%= f.label :edad_standard_deviation %><br />
    <%= f.text_field :edad_standard_deviation %>
  </div>
  <div class="field">
    <%= f.label :ecivil_mode %><br />
    <%= f.text_field :ecivil_mode %>
  </div>
  <div class="field">
    <%= f.label :nucleo_mean %><br />
    <%= f.text_field :nucleo_mean %>
  </div>
  <div class="field">
    <%= f.label :nucleo_median %><br />
    <%= f.text_field :nucleo_median %>
  </div>
  <div class="field">
    <%= f.label :nucleo_standard_deviation %><br />
    <%= f.text_field :nucleo_standard_deviation %>
  </div>
  <div class="field">
    <%= f.label :pco2_mode %><br />
    <%= f.text_field :pco2_mode %>
  </div>
  <div class="field">
    <%= f.label :numper_mean %><br />
    <%= f.text_field :numper_mean %>
  </div>
  <div class="field">
    <%= f.label :numper_median %><br />
    <%= f.text_field :numper_median %>
  </div>
  <div class="field">
    <%= f.label :numper_standard_deviation %><br />
    <%= f.text_field :numper_standard_deviation %>
  </div>
  <div class="field">
    <%= f.label :e6a_mode %><br />
    <%= f.text_field :e6a_mode %>
  </div>
  <div class="field">
    <%= f.label :e7_mean %><br />
    <%= f.text_field :e7_mean %>
  </div>
  <div class="field">
    <%= f.label :e7_median %><br />
    <%= f.text_field :e7_median %>
  </div>
  <div class="field">
    <%= f.label :e7_standard_deviation %><br />
    <%= f.text_field :e7_standard_deviation %>
  </div>
  <div class="field">
    <%= f.label :e7_mode %><br />
    <%= f.text_field :e7_mode %>
  </div>
  <div class="field">
    <%= f.label :educ_mean %><br />
    <%= f.text_field :educ_mean %>
  </div>
  <div class="field">
    <%= f.label :educ_median %><br />
    <%= f.text_field :educ_median %>
  </div>
  <div class="field">
    <%= f.label :educ_standard_deviation %><br />
    <%= f.text_field :educ_standard_deviation %>
  </div>
  <div class="field">
    <%= f.label :educ_mode %><br />
    <%= f.text_field :educ_mode %>
  </div>
  <div class="field">
    <%= f.label :asiste_mean %><br />
    <%= f.text_field :asiste_mean %>
  </div>
  <div class="field">
    <%= f.label :asiste_median %><br />
    <%= f.text_field :asiste_median %>
  </div>
  <div class="field">
    <%= f.label :asiste_standard_deviation %><br />
    <%= f.text_field :asiste_standard_deviation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
