<h1>Listing municipios</h1>

<table>
  <tr>
    <th>Comuna</th>
    <th>Name</th>
    <th>Population</th>
    <th>Edad mean</th>
    <th>Edad median</th>
    <th>Edad standard deviation</th>
    <th>Ecivil mode</th>
    <th>Nucleo mean</th>
    <th>Nucleo median</th>
    <th>Nucleo standard deviation</th>
    <th>Pco2 mode</th>
    <th>Numper mean</th>
    <th>Numper median</th>
    <th>Numper standard deviation</th>
    <th>E6a mode</th>
    <th>E7 mean</th>
    <th>E7 median</th>
    <th>E7 standard deviation</th>
    <th>E7 mode</th>
    <th>Educ mean</th>
    <th>Educ median</th>
    <th>Educ standard deviation</th>
    <th>Educ mode</th>
    <th>Asiste mean</th>
    <th>Asiste median</th>
    <th>Asiste standard deviation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @municipios.each do |municipio| %>
  <tr>
    <td><%= municipio.comuna %></td>
    <td><%= municipio.name %></td>
    <td><%= municipio.population %></td>
    <td><%= municipio.edad_mean %></td>
    <td><%= municipio.edad_median %></td>
    <td><%= municipio.edad_standard_deviation %></td>
    <td><%= municipio.ecivil_mode %></td>
    <td><%= municipio.nucleo_mean %></td>
    <td><%= municipio.nucleo_median %></td>
    <td><%= municipio.nucleo_standard_deviation %></td>
    <td><%= municipio.pco2_mode %></td>
    <td><%= municipio.numper_mean %></td>
    <td><%= municipio.numper_median %></td>
    <td><%= municipio.numper_standard_deviation %></td>
    <td><%= municipio.e6a_mode %></td>
    <td><%= municipio.e7_mean %></td>
    <td><%= municipio.e7_median %></td>
    <td><%= municipio.e7_standard_deviation %></td>
    <td><%= municipio.e7_mode %></td>
    <td><%= municipio.educ_mean %></td>
    <td><%= municipio.educ_median %></td>
    <td><%= municipio.educ_standard_deviation %></td>
    <td><%= municipio.educ_mode %></td>
    <td><%= municipio.asiste_mean %></td>
    <td><%= municipio.asiste_median %></td>
    <td><%= municipio.asiste_standard_deviation %></td>
    <td><%= link_to 'Show', municipio %></td>
    <td><%= link_to 'Edit', edit_municipio_path(municipio) %></td>
    <td><%= link_to 'Destroy', municipio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Municipio', new_municipio_path %>
