<p id="notice"><%= notice %></p>

<p>
  <b>Comuna:</b>
  <%= @municipio.comuna %>
</p>

<p>
  <b>Name:</b>
  <%= @municipio.name %>
</p>

<p>
  <b>Population:</b>
  <%= @municipio.population %>
</p>

<p>
  <b>Edad mean:</b>
  <%= @municipio.edad_mean %>
</p>

<p>
  <b>Edad median:</b>
  <%= @municipio.edad_median %>
</p>

<p>
  <b>Edad standard deviation:</b>
  <%= @municipio.edad_standard_deviation %>
</p>

<p>
  <b>Ecivil mode:</b>
  <%= @municipio.ecivil_mode %>
</p>

<p>
  <b>Nucleo mean:</b>
  <%= @municipio.nucleo_mean %>
</p>

<p>
  <b>Nucleo median:</b>
  <%= @municipio.nucleo_median %>
</p>

<p>
  <b>Nucleo standard deviation:</b>
  <%= @municipio.nucleo_standard_deviation %>
</p>

<p>
  <b>Pco2 mode:</b>
  <%= @municipio.pco2_mode %>
</p>

<p>
  <b>Numper mean:</b>
  <%= @municipio.numper_mean %>
</p>

<p>
  <b>Numper median:</b>
  <%= @municipio.numper_median %>
</p>

<p>
  <b>Numper standard deviation:</b>
  <%= @municipio.numper_standard_deviation %>
</p>

<p>
  <b>E6a mode:</b>
  <%= @municipio.e6a_mode %>
</p>

<p>
  <b>E7 mean:</b>
  <%= @municipio.e7_mean %>
</p>

<p>
  <b>E7 median:</b>
  <%= @municipio.e7_median %>
</p>

<p>
  <b>E7 standard deviation:</b>
  <%= @municipio.e7_standard_deviation %>
</p>

<p>
  <b>E7 mode:</b>
  <%= @municipio.e7_mode %>
</p>

<p>
  <b>Educ mean:</b>
  <%= @municipio.educ_mean %>
</p>

<p>
  <b>Educ median:</b>
  <%= @municipio.educ_median %>
</p>

<p>
  <b>Educ standard deviation:</b>
  <%= @municipio.educ_standard_deviation %>
</p>

<p>
  <b>Educ mode:</b>
  <%= @municipio.educ_mode %>
</p>

<p>
  <b>Asiste mean:</b>
  <%= @municipio.asiste_mean %>
</p>

<p>
  <b>Asiste median:</b>
  <%= @municipio.asiste_median %>
</p>

<p>
  <b>Asiste standard deviation:</b>
  <%= @municipio.asiste_standard_deviation %>
</p>


<%= link_to 'Edit', edit_municipio_path(@municipio) %> |
<%= link_to 'Back', municipios_path %>
