<%= form_for(@casen) do |f| %>
  <% if @casen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@casen.errors.count, "error") %> prohibited this casen from being saved:</h2>

      <ul>
      <% @casen.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :year %><br />
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :segmento %><br />
    <%= f.number_field :segmento %>
  </div>
  <div class="field">
    <%= f.label :folio %><br />
    <%= f.text_field :folio %>
  </div>
  <div class="field">
    <%= f.label :o %><br />
    <%= f.number_field :o %>
  </div>
  <div class="field">
    <%= f.label :region %><br />
    <%= f.number_field :region %>
  </div>
  <div class="field">
    <%= f.label :comuna %><br />
    <%= f.number_field :comuna %>
  </div>
  <div class="field">
    <%= f.label :zona %><br />
    <%= f.number_field :zona %>
  </div>
  <div class="field">
    <%= f.label :estrato %><br />
    <%= f.number_field :estrato %>
  </div>
  <div class="field">
    <%= f.label :varstrat %><br />
    <%= f.number_field :varstrat %>
  </div>
  <div class="field">
    <%= f.label :varunit %><br />
    <%= f.number_field :varunit %>
  </div>
  <div class="field">
    <%= f.label :expr_r2 %><br />
    <%= f.number_field :expr_r2 %>
  </div>
  <div class="field">
    <%= f.label :expc_r2 %><br />
    <%= f.number_field :expc_r2 %>
  </div>
  <div class="field">
    <%= f.label :expr_r2sat %><br />
    <%= f.number_field :expr_r2sat %>
  </div>
  <div class="field">
    <%= f.label :expr_r2fin %><br />
    <%= f.number_field :expr_r2fin %>
  </div>
  <div class="field">
    <%= f.label :pobviv2002 %><br />
    <%= f.number_field :pobviv2002 %>
  </div>
  <div class="field">
    <%= f.label :mr2viv2011 %><br />
    <%= f.number_field :mr2viv2011 %>
  </div>
  <div class="field">
    <%= f.label :fmr2 %><br />
    <%= f.text_field :fmr2 %>
  </div>
  <div class="field">
    <%= f.label :postpob %><br />
    <%= f.number_field :postpob %>
  </div>
  <div class="field">
    <%= f.label :postid %><br />
    <%= f.number_field :postid %>
  </div>
  <div class="field">
    <%= f.label :pco1 %><br />
    <%= f.number_field :pco1 %>
  </div>
  <div class="field">
    <%= f.label :viv %><br />
    <%= f.number_field :viv %>
  </div>
  <div class="field">
    <%= f.label :hog %><br />
    <%= f.number_field :hog %>
  </div>
  <div class="field">
    <%= f.label :tot_hogviv %><br />
    <%= f.number_field :tot_hogviv %>
  </div>
  <div class="field">
    <%= f.label :o_viv %><br />
    <%= f.number_field :o_viv %>
  </div>
  <div class="field">
    <%= f.label :sexo %><br />
    <%= f.number_field :sexo %>
  </div>
  <div class="field">
    <%= f.label :edad %><br />
    <%= f.number_field :edad %>
  </div>
  <div class="field">
    <%= f.label :ecivil %><br />
    <%= f.number_field :ecivil %>
  </div>
  <div class="field">
    <%= f.label :pareja %><br />
    <%= f.number_field :pareja %>
  </div>
  <div class="field">
    <%= f.label :nucleo %><br />
    <%= f.number_field :nucleo %>
  </div>
  <div class="field">
    <%= f.label :pco2 %><br />
    <%= f.number_field :pco2 %>
  </div>
  <div class="field">
    <%= f.label :numper %><br />
    <%= f.number_field :numper %>
  </div>
  <div class="field">
    <%= f.label :h11 %><br />
    <%= f.number_field :h11 %>
  </div>
  <div class="field">
    <%= f.label :h11e_esp %><br />
    <%= f.number_field :h11e_esp %>
  </div>
  <div class="field">
    <%= f.label :e1 %><br />
    <%= f.number_field :e1 %>
  </div>
  <div class="field">
    <%= f.label :e2a %><br />
    <%= f.number_field :e2a %>
  </div>
  <div class="field">
    <%= f.label :e2b %><br />
    <%= f.number_field :e2b %>
  </div>
  <div class="field">
    <%= f.label :e2c %><br />
    <%= f.number_field :e2c %>
  </div>
  <div class="field">
    <%= f.label :e3 %><br />
    <%= f.number_field :e3 %>
  </div>
  <div class="field">
    <%= f.label :e4 %><br />
    <%= f.number_field :e4 %>
  </div>
  <div class="field">
    <%= f.label :e5 %><br />
    <%= f.number_field :e5 %>
  </div>
  <div class="field">
    <%= f.label :e6a %><br />
    <%= f.number_field :e6a %>
  </div>
  <div class="field">
    <%= f.label :e6b %><br />
    <%= f.number_field :e6b %>
  </div>
  <div class="field">
    <%= f.label :e6c %><br />
    <%= f.number_field :e6c %>
  </div>
  <div class="field">
    <%= f.label :e7 %><br />
    <%= f.number_field :e7 %>
  </div>
  <div class="field">
    <%= f.label :e8dv %><br />
    <%= f.number_field :e8dv %>
  </div>
  <div class="field">
    <%= f.label :e8nom %><br />
    <%= f.text_field :e8nom %>
  </div>
  <div class="field">
    <%= f.label :e8dir %><br />
    <%= f.text_field :e8dir %>
  </div>
  <div class="field">
    <%= f.label :e8com %><br />
    <%= f.number_field :e8com %>
  </div>
  <div class="field">
    <%= f.label :e8rbd %><br />
    <%= f.number_field :e8rbd %>
  </div>
  <div class="field">
    <%= f.label :e8te %><br />
    <%= f.number_field :e8te %>
  </div>
  <div class="field">
    <%= f.label :e9 %><br />
    <%= f.number_field :e9 %>
  </div>
  <div class="field">
    <%= f.label :e10 %><br />
    <%= f.number_field :e10 %>
  </div>
  <div class="field">
    <%= f.label :e11a %><br />
    <%= f.number_field :e11a %>
  </div>
  <div class="field">
    <%= f.label :e11b %><br />
    <%= f.number_field :e11b %>
  </div>
  <div class="field">
    <%= f.label :e11c %><br />
    <%= f.number_field :e11c %>
  </div>
  <div class="field">
    <%= f.label :e11d %><br />
    <%= f.number_field :e11d %>
  </div>
  <div class="field">
    <%= f.label :e12a %><br />
    <%= f.number_field :e12a %>
  </div>
  <div class="field">
    <%= f.label :e12b1 %><br />
    <%= f.number_field :e12b1 %>
  </div>
  <div class="field">
    <%= f.label :e12b2 %><br />
    <%= f.number_field :e12b2 %>
  </div>
  <div class="field">
    <%= f.label :e13pbu %><br />
    <%= f.number_field :e13pbu %>
  </div>
  <div class="field">
    <%= f.label :e13pbt %><br />
    <%= f.number_field :e13pbt %>
  </div>
  <div class="field">
    <%= f.label :e13pbd %><br />
    <%= f.number_field :e13pbd %>
  </div>
  <div class="field">
    <%= f.label :e13pbm %><br />
    <%= f.number_field :e13pbm %>
  </div>
  <div class="field">
    <%= f.label :e13bu %><br />
    <%= f.number_field :e13bu %>
  </div>
  <div class="field">
    <%= f.label :e13bt %><br />
    <%= f.number_field :e13bt %>
  </div>
  <div class="field">
    <%= f.label :e13bd %><br />
    <%= f.number_field :e13bd %>
  </div>
  <div class="field">
    <%= f.label :e13bm %><br />
    <%= f.number_field :e13bm %>
  </div>
  <div class="field">
    <%= f.label :e13bp %><br />
    <%= f.number_field :e13bp %>
  </div>
  <div class="field">
    <%= f.label :e13mu %><br />
    <%= f.number_field :e13mu %>
  </div>
  <div class="field">
    <%= f.label :e13mt %><br />
    <%= f.number_field :e13mt %>
  </div>
  <div class="field">
    <%= f.label :e13md %><br />
    <%= f.number_field :e13md %>
  </div>
  <div class="field">
    <%= f.label :e13mm %><br />
    <%= f.number_field :e13mm %>
  </div>
  <div class="field">
    <%= f.label :e14a %><br />
    <%= f.number_field :e14a %>
  </div>
  <div class="field">
    <%= f.label :e14b %><br />
    <%= f.number_field :e14b %>
  </div>
  <div class="field">
    <%= f.label :e15 %><br />
    <%= f.number_field :e15 %>
  </div>
  <div class="field">
    <%= f.label :e16 %><br />
    <%= f.number_field :e16 %>
  </div>
  <div class="field">
    <%= f.label :e17t1 %><br />
    <%= f.number_field :e17t1 %>
  </div>
  <div class="field">
    <%= f.label :e17t2 %><br />
    <%= f.number_field :e17t2 %>
  </div>
  <div class="field">
    <%= f.label :e18t1m %><br />
    <%= f.number_field :e18t1m %>
  </div>
  <div class="field">
    <%= f.label :e18t1p %><br />
    <%= f.number_field :e18t1p %>
  </div>
  <div class="field">
    <%= f.label :e18t2m %><br />
    <%= f.number_field :e18t2m %>
  </div>
  <div class="field">
    <%= f.label :e18t2p %><br />
    <%= f.number_field :e18t2p %>
  </div>
  <div class="field">
    <%= f.label :e0 %><br />
    <%= f.number_field :e0 %>
  </div>
  <div class="field">
    <%= f.label :o1 %><br />
    <%= f.number_field :o1 %>
  </div>
  <div class="field">
    <%= f.label :o2 %><br />
    <%= f.number_field :o2 %>
  </div>
  <div class="field">
    <%= f.label :o3 %><br />
    <%= f.number_field :o3 %>
  </div>
  <div class="field">
    <%= f.label :o4 %><br />
    <%= f.number_field :o4 %>
  </div>
  <div class="field">
    <%= f.label :o5 %><br />
    <%= f.number_field :o5 %>
  </div>
  <div class="field">
    <%= f.label :o6 %><br />
    <%= f.number_field :o6 %>
  </div>
  <div class="field">
    <%= f.label :o7r1 %><br />
    <%= f.number_field :o7r1 %>
  </div>
  <div class="field">
    <%= f.label :o7r2 %><br />
    <%= f.number_field :o7r2 %>
  </div>
  <div class="field">
    <%= f.label :o8 %><br />
    <%= f.number_field :o8 %>
  </div>
  <div class="field">
    <%= f.label :oficio4 %><br />
    <%= f.number_field :oficio4 %>
  </div>
  <div class="field">
    <%= f.label :o10 %><br />
    <%= f.number_field :o10 %>
  </div>
  <div class="field">
    <%= f.label :o11 %><br />
    <%= f.number_field :o11 %>
  </div>
  <div class="field">
    <%= f.label :o12 %><br />
    <%= f.number_field :o12 %>
  </div>
  <div class="field">
    <%= f.label :o13 %><br />
    <%= f.number_field :o13 %>
  </div>
  <div class="field">
    <%= f.label :o14 %><br />
    <%= f.number_field :o14 %>
  </div>
  <div class="field">
    <%= f.label :o15 %><br />
    <%= f.number_field :o15 %>
  </div>
  <div class="field">
    <%= f.label :o16 %><br />
    <%= f.number_field :o16 %>
  </div>
  <div class="field">
    <%= f.label :o17 %><br />
    <%= f.number_field :o17 %>
  </div>
  <div class="field">
    <%= f.label :o18 %><br />
    <%= f.number_field :o18 %>
  </div>
  <div class="field">
    <%= f.label :o19 %><br />
    <%= f.number_field :o19 %>
  </div>
  <div class="field">
    <%= f.label :o20 %><br />
    <%= f.number_field :o20 %>
  </div>
  <div class="field">
    <%= f.label :rama4_sub %><br />
    <%= f.number_field :rama4_sub %>
  </div>
  <div class="field">
    <%= f.label :o22 %><br />
    <%= f.number_field :o22 %>
  </div>
  <div class="field">
    <%= f.label :rama4 %><br />
    <%= f.number_field :rama4 %>
  </div>
  <div class="field">
    <%= f.label :o24 %><br />
    <%= f.number_field :o24 %>
  </div>
  <div class="field">
    <%= f.label :o25 %><br />
    <%= f.number_field :o25 %>
  </div>
  <div class="field">
    <%= f.label :o26 %><br />
    <%= f.number_field :o26 %>
  </div>
  <div class="field">
    <%= f.label :o27 %><br />
    <%= f.number_field :o27 %>
  </div>
  <div class="field">
    <%= f.label :o28 %><br />
    <%= f.number_field :o28 %>
  </div>
  <div class="field">
    <%= f.label :o29 %><br />
    <%= f.number_field :o29 %>
  </div>
  <div class="field">
    <%= f.label :o30 %><br />
    <%= f.number_field :o30 %>
  </div>
  <div class="field">
    <%= f.label :o0 %><br />
    <%= f.number_field :o0 %>
  </div>
  <div class="field">
    <%= f.label :y21 %><br />
    <%= f.number_field :y21 %>
  </div>
  <div class="field">
    <%= f.label :y28a %><br />
    <%= f.number_field :y28a %>
  </div>
  <div class="field">
    <%= f.label :y28b %><br />
    <%= f.number_field :y28b %>
  </div>
  <div class="field">
    <%= f.label :y28c %><br />
    <%= f.number_field :y28c %>
  </div>
  <div class="field">
    <%= f.label :y28d %><br />
    <%= f.number_field :y28d %>
  </div>
  <div class="field">
    <%= f.label :y28e %><br />
    <%= f.number_field :y28e %>
  </div>
  <div class="field">
    <%= f.label :y29a %><br />
    <%= f.number_field :y29a %>
  </div>
  <div class="field">
    <%= f.label :y29b1 %><br />
    <%= f.number_field :y29b1 %>
  </div>
  <div class="field">
    <%= f.label :y29b2 %><br />
    <%= f.number_field :y29b2 %>
  </div>
  <div class="field">
    <%= f.label :y29b3 %><br />
    <%= f.number_field :y29b3 %>
  </div>
  <div class="field">
    <%= f.label :y29b4 %><br />
    <%= f.number_field :y29b4 %>
  </div>
  <div class="field">
    <%= f.label :y29b5 %><br />
    <%= f.number_field :y29b5 %>
  </div>
  <div class="field">
    <%= f.label :y30a %><br />
    <%= f.number_field :y30a %>
  </div>
  <div class="field">
    <%= f.label :y30b %><br />
    <%= f.number_field :y30b %>
  </div>
  <div class="field">
    <%= f.label :y30c %><br />
    <%= f.number_field :y30c %>
  </div>
  <div class="field">
    <%= f.label :y30d %><br />
    <%= f.number_field :y30d %>
  </div>
  <div class="field">
    <%= f.label :y30e %><br />
    <%= f.number_field :y30e %>
  </div>
  <div class="field">
    <%= f.label :y0 %><br />
    <%= f.number_field :y0 %>
  </div>
  <div class="field">
    <%= f.label :s1 %><br />
    <%= f.number_field :s1 %>
  </div>
  <div class="field">
    <%= f.label :s2a %><br />
    <%= f.number_field :s2a %>
  </div>
  <div class="field">
    <%= f.label :s2b %><br />
    <%= f.number_field :s2b %>
  </div>
  <div class="field">
    <%= f.label :s2c %><br />
    <%= f.number_field :s2c %>
  </div>
  <div class="field">
    <%= f.label :s3 %><br />
    <%= f.number_field :s3 %>
  </div>
  <div class="field">
    <%= f.label :s4 %><br />
    <%= f.number_field :s4 %>
  </div>
  <div class="field">
    <%= f.label :s5 %><br />
    <%= f.number_field :s5 %>
  </div>
  <div class="field">
    <%= f.label :s6 %><br />
    <%= f.number_field :s6 %>
  </div>
  <div class="field">
    <%= f.label :s7 %><br />
    <%= f.number_field :s7 %>
  </div>
  <div class="field">
    <%= f.label :s8 %><br />
    <%= f.number_field :s8 %>
  </div>
  <div class="field">
    <%= f.label :s9 %><br />
    <%= f.number_field :s9 %>
  </div>
  <div class="field">
    <%= f.label :s10 %><br />
    <%= f.number_field :s10 %>
  </div>
  <div class="field">
    <%= f.label :s11 %><br />
    <%= f.number_field :s11 %>
  </div>
  <div class="field">
    <%= f.label :s12 %><br />
    <%= f.number_field :s12 %>
  </div>
  <div class="field">
    <%= f.label :s13 %><br />
    <%= f.number_field :s13 %>
  </div>
  <div class="field">
    <%= f.label :s14 %><br />
    <%= f.number_field :s14 %>
  </div>
  <div class="field">
    <%= f.label :s15 %><br />
    <%= f.number_field :s15 %>
  </div>
  <div class="field">
    <%= f.label :s16 %><br />
    <%= f.number_field :s16 %>
  </div>
  <div class="field">
    <%= f.label :s17 %><br />
    <%= f.number_field :s17 %>
  </div>
  <div class="field">
    <%= f.label :s18a %><br />
    <%= f.number_field :s18a %>
  </div>
  <div class="field">
    <%= f.label :s18b %><br />
    <%= f.number_field :s18b %>
  </div>
  <div class="field">
    <%= f.label :s19 %><br />
    <%= f.number_field :s19 %>
  </div>
  <div class="field">
    <%= f.label :s20 %><br />
    <%= f.number_field :s20 %>
  </div>
  <div class="field">
    <%= f.label :s21 %><br />
    <%= f.number_field :s21 %>
  </div>
  <div class="field">
    <%= f.label :s22 %><br />
    <%= f.number_field :s22 %>
  </div>
  <div class="field">
    <%= f.label :s23 %><br />
    <%= f.number_field :s23 %>
  </div>
  <div class="field">
    <%= f.label :s24a %><br />
    <%= f.number_field :s24a %>
  </div>
  <div class="field">
    <%= f.label :s24b %><br />
    <%= f.number_field :s24b %>
  </div>
  <div class="field">
    <%= f.label :s24c %><br />
    <%= f.number_field :s24c %>
  </div>
  <div class="field">
    <%= f.label :s25a %><br />
    <%= f.number_field :s25a %>
  </div>
  <div class="field">
    <%= f.label :s25b %><br />
    <%= f.number_field :s25b %>
  </div>
  <div class="field">
    <%= f.label :s25c %><br />
    <%= f.number_field :s25c %>
  </div>
  <div class="field">
    <%= f.label :s26a %><br />
    <%= f.number_field :s26a %>
  </div>
  <div class="field">
    <%= f.label :s26b %><br />
    <%= f.number_field :s26b %>
  </div>
  <div class="field">
    <%= f.label :s26c %><br />
    <%= f.number_field :s26c %>
  </div>
  <div class="field">
    <%= f.label :s27a %><br />
    <%= f.number_field :s27a %>
  </div>
  <div class="field">
    <%= f.label :s27b %><br />
    <%= f.number_field :s27b %>
  </div>
  <div class="field">
    <%= f.label :s27c %><br />
    <%= f.number_field :s27c %>
  </div>
  <div class="field">
    <%= f.label :s28a %><br />
    <%= f.number_field :s28a %>
  </div>
  <div class="field">
    <%= f.label :s28b %><br />
    <%= f.number_field :s28b %>
  </div>
  <div class="field">
    <%= f.label :s28c %><br />
    <%= f.number_field :s28c %>
  </div>
  <div class="field">
    <%= f.label :s29a %><br />
    <%= f.number_field :s29a %>
  </div>
  <div class="field">
    <%= f.label :s29b %><br />
    <%= f.number_field :s29b %>
  </div>
  <div class="field">
    <%= f.label :s29c %><br />
    <%= f.number_field :s29c %>
  </div>
  <div class="field">
    <%= f.label :s30a %><br />
    <%= f.number_field :s30a %>
  </div>
  <div class="field">
    <%= f.label :s30b %><br />
    <%= f.number_field :s30b %>
  </div>
  <div class="field">
    <%= f.label :s30c %><br />
    <%= f.number_field :s30c %>
  </div>
  <div class="field">
    <%= f.label :s30d %><br />
    <%= f.number_field :s30d %>
  </div>
  <div class="field">
    <%= f.label :s31a %><br />
    <%= f.number_field :s31a %>
  </div>
  <div class="field">
    <%= f.label :s31b %><br />
    <%= f.number_field :s31b %>
  </div>
  <div class="field">
    <%= f.label :s31c %><br />
    <%= f.number_field :s31c %>
  </div>
  <div class="field">
    <%= f.label :s31d %><br />
    <%= f.number_field :s31d %>
  </div>
  <div class="field">
    <%= f.label :s32a %><br />
    <%= f.number_field :s32a %>
  </div>
  <div class="field">
    <%= f.label :s32b %><br />
    <%= f.number_field :s32b %>
  </div>
  <div class="field">
    <%= f.label :s32c %><br />
    <%= f.number_field :s32c %>
  </div>
  <div class="field">
    <%= f.label :s32d %><br />
    <%= f.number_field :s32d %>
  </div>
  <div class="field">
    <%= f.label :s33a %><br />
    <%= f.number_field :s33a %>
  </div>
  <div class="field">
    <%= f.label :s33b %><br />
    <%= f.number_field :s33b %>
  </div>
  <div class="field">
    <%= f.label :s33c %><br />
    <%= f.number_field :s33c %>
  </div>
  <div class="field">
    <%= f.label :s33d %><br />
    <%= f.number_field :s33d %>
  </div>
  <div class="field">
    <%= f.label :s34 %><br />
    <%= f.number_field :s34 %>
  </div>
  <div class="field">
    <%= f.label :s35 %><br />
    <%= f.number_field :s35 %>
  </div>
  <div class="field">
    <%= f.label :s36 %><br />
    <%= f.number_field :s36 %>
  </div>
  <div class="field">
    <%= f.label :s37t1 %><br />
    <%= f.number_field :s37t1 %>
  </div>
  <div class="field">
    <%= f.label :s37t2 %><br />
    <%= f.number_field :s37t2 %>
  </div>
  <div class="field">
    <%= f.label :s37t3 %><br />
    <%= f.number_field :s37t3 %>
  </div>
  <div class="field">
    <%= f.label :s38o1 %><br />
    <%= f.number_field :s38o1 %>
  </div>
  <div class="field">
    <%= f.label :s38o2 %><br />
    <%= f.number_field :s38o2 %>
  </div>
  <div class="field">
    <%= f.label :s38o3 %><br />
    <%= f.number_field :s38o3 %>
  </div>
  <div class="field">
    <%= f.label :s39a %><br />
    <%= f.number_field :s39a %>
  </div>
  <div class="field">
    <%= f.label :s39b %><br />
    <%= f.number_field :s39b %>
  </div>
  <div class="field">
    <%= f.label :s39c %><br />
    <%= f.number_field :s39c %>
  </div>
  <div class="field">
    <%= f.label :s39d %><br />
    <%= f.number_field :s39d %>
  </div>
  <div class="field">
    <%= f.label :s40a %><br />
    <%= f.number_field :s40a %>
  </div>
  <div class="field">
    <%= f.label :s40b %><br />
    <%= f.number_field :s40b %>
  </div>
  <div class="field">
    <%= f.label :s40c %><br />
    <%= f.number_field :s40c %>
  </div>
  <div class="field">
    <%= f.label :s40d %><br />
    <%= f.number_field :s40d %>
  </div>
  <div class="field">
    <%= f.label :s40e %><br />
    <%= f.number_field :s40e %>
  </div>
  <div class="field">
    <%= f.label :s40f %><br />
    <%= f.number_field :s40f %>
  </div>
  <div class="field">
    <%= f.label :s40g %><br />
    <%= f.number_field :s40g %>
  </div>
  <div class="field">
    <%= f.label :s41a %><br />
    <%= f.number_field :s41a %>
  </div>
  <div class="field">
    <%= f.label :s41b %><br />
    <%= f.number_field :s41b %>
  </div>
  <div class="field">
    <%= f.label :s0 %><br />
    <%= f.number_field :s0 %>
  </div>
  <div class="field">
    <%= f.label :r1a %><br />
    <%= f.number_field :r1a %>
  </div>
  <div class="field">
    <%= f.label :r1c_cod %><br />
    <%= f.number_field :r1c_cod %>
  </div>
  <div class="field">
    <%= f.label :r1b %><br />
    <%= f.number_field :r1b %>
  </div>
  <div class="field">
    <%= f.label :r1p_cod %><br />
    <%= f.number_field :r1p_cod %>
  </div>
  <div class="field">
    <%= f.label :r2 %><br />
    <%= f.number_field :r2 %>
  </div>
  <div class="field">
    <%= f.label :r2c_cod %><br />
    <%= f.number_field :r2c_cod %>
  </div>
  <div class="field">
    <%= f.label :r2p_cod %><br />
    <%= f.number_field :r2p_cod %>
  </div>
  <div class="field">
    <%= f.label :r3 %><br />
    <%= f.number_field :r3 %>
  </div>
  <div class="field">
    <%= f.label :r4mn %><br />
    <%= f.number_field :r4mn %>
  </div>
  <div class="field">
    <%= f.label :r4mc %><br />
    <%= f.number_field :r4mc %>
  </div>
  <div class="field">
    <%= f.label :r5pn %><br />
    <%= f.number_field :r5pn %>
  </div>
  <div class="field">
    <%= f.label :r5pc %><br />
    <%= f.number_field :r5pc %>
  </div>
  <div class="field">
    <%= f.label :r6 %><br />
    <%= f.number_field :r6 %>
  </div>
  <div class="field">
    <%= f.label :r7 %><br />
    <%= f.number_field :r7 %>
  </div>
  <div class="field">
    <%= f.label :r8 %><br />
    <%= f.number_field :r8 %>
  </div>
  <div class="field">
    <%= f.label :r9 %><br />
    <%= f.number_field :r9 %>
  </div>
  <div class="field">
    <%= f.label :r10 %><br />
    <%= f.number_field :r10 %>
  </div>
  <div class="field">
    <%= f.label :r11a %><br />
    <%= f.number_field :r11a %>
  </div>
  <div class="field">
    <%= f.label :r11b %><br />
    <%= f.number_field :r11b %>
  </div>
  <div class="field">
    <%= f.label :r12 %><br />
    <%= f.number_field :r12 %>
  </div>
  <div class="field">
    <%= f.label :r13a %><br />
    <%= f.number_field :r13a %>
  </div>
  <div class="field">
    <%= f.label :r13b %><br />
    <%= f.number_field :r13b %>
  </div>
  <div class="field">
    <%= f.label :r13c %><br />
    <%= f.number_field :r13c %>
  </div>
  <div class="field">
    <%= f.label :r13d %><br />
    <%= f.number_field :r13d %>
  </div>
  <div class="field">
    <%= f.label :r13e %><br />
    <%= f.number_field :r13e %>
  </div>
  <div class="field">
    <%= f.label :r13f %><br />
    <%= f.number_field :r13f %>
  </div>
  <div class="field">
    <%= f.label :r14a %><br />
    <%= f.number_field :r14a %>
  </div>
  <div class="field">
    <%= f.label :r14b %><br />
    <%= f.number_field :r14b %>
  </div>
  <div class="field">
    <%= f.label :r14c %><br />
    <%= f.number_field :r14c %>
  </div>
  <div class="field">
    <%= f.label :r14d %><br />
    <%= f.number_field :r14d %>
  </div>
  <div class="field">
    <%= f.label :r14e %><br />
    <%= f.number_field :r14e %>
  </div>
  <div class="field">
    <%= f.label :r15 %><br />
    <%= f.number_field :r15 %>
  </div>
  <div class="field">
    <%= f.label :r16 %><br />
    <%= f.number_field :r16 %>
  </div>
  <div class="field">
    <%= f.label :r17 %><br />
    <%= f.number_field :r17 %>
  </div>
  <div class="field">
    <%= f.label :r18a %><br />
    <%= f.number_field :r18a %>
  </div>
  <div class="field">
    <%= f.label :r18b %><br />
    <%= f.number_field :r18b %>
  </div>
  <div class="field">
    <%= f.label :r18c %><br />
    <%= f.number_field :r18c %>
  </div>
  <div class="field">
    <%= f.label :r18d %><br />
    <%= f.number_field :r18d %>
  </div>
  <div class="field">
    <%= f.label :r18e %><br />
    <%= f.number_field :r18e %>
  </div>
  <div class="field">
    <%= f.label :r18f %><br />
    <%= f.number_field :r18f %>
  </div>
  <div class="field">
    <%= f.label :r18g %><br />
    <%= f.number_field :r18g %>
  </div>
  <div class="field">
    <%= f.label :r18h %><br />
    <%= f.number_field :r18h %>
  </div>
  <div class="field">
    <%= f.label :r19 %><br />
    <%= f.number_field :r19 %>
  </div>
  <div class="field">
    <%= f.label :r20 %><br />
    <%= f.number_field :r20 %>
  </div>
  <div class="field">
    <%= f.label :r0 %><br />
    <%= f.number_field :r0 %>
  </div>
  <div class="field">
    <%= f.label :v1 %><br />
    <%= f.number_field :v1 %>
  </div>
  <div class="field">
    <%= f.label :v2 %><br />
    <%= f.number_field :v2 %>
  </div>
  <div class="field">
    <%= f.label :v2frent %><br />
    <%= f.number_field :v2frent %>
  </div>
  <div class="field">
    <%= f.label :v2fo %><br />
    <%= f.number_field :v2fo %>
  </div>
  <div class="field">
    <%= f.label :v3 %><br />
    <%= f.number_field :v3 %>
  </div>
  <div class="field">
    <%= f.label :v4 %><br />
    <%= f.number_field :v4 %>
  </div>
  <div class="field">
    <%= f.label :v5 %><br />
    <%= f.number_field :v5 %>
  </div>
  <div class="field">
    <%= f.label :v5m %><br />
    <%= f.number_field :v5m %>
  </div>
  <div class="field">
    <%= f.label :v6 %><br />
    <%= f.number_field :v6 %>
  </div>
  <div class="field">
    <%= f.label :v7 %><br />
    <%= f.number_field :v7 %>
  </div>
  <div class="field">
    <%= f.label :v8 %><br />
    <%= f.number_field :v8 %>
  </div>
  <div class="field">
    <%= f.label :v9 %><br />
    <%= f.number_field :v9 %>
  </div>
  <div class="field">
    <%= f.label :v10 %><br />
    <%= f.number_field :v10 %>
  </div>
  <div class="field">
    <%= f.label :v11 %><br />
    <%= f.number_field :v11 %>
  </div>
  <div class="field">
    <%= f.label :v12 %><br />
    <%= f.number_field :v12 %>
  </div>
  <div class="field">
    <%= f.label :v13 %><br />
    <%= f.number_field :v13 %>
  </div>
  <div class="field">
    <%= f.label :v14 %><br />
    <%= f.number_field :v14 %>
  </div>
  <div class="field">
    <%= f.label :v15 %><br />
    <%= f.number_field :v15 %>
  </div>
  <div class="field">
    <%= f.label :v16a %><br />
    <%= f.number_field :v16a %>
  </div>
  <div class="field">
    <%= f.label :v16b %><br />
    <%= f.number_field :v16b %>
  </div>
  <div class="field">
    <%= f.label :v16c %><br />
    <%= f.number_field :v16c %>
  </div>
  <div class="field">
    <%= f.label :v17 %><br />
    <%= f.number_field :v17 %>
  </div>
  <div class="field">
    <%= f.label :v18 %><br />
    <%= f.number_field :v18 %>
  </div>
  <div class="field">
    <%= f.label :v19 %><br />
    <%= f.number_field :v19 %>
  </div>
  <div class="field">
    <%= f.label :v19r %><br />
    <%= f.number_field :v19r %>
  </div>
  <div class="field">
    <%= f.label :v20 %><br />
    <%= f.number_field :v20 %>
  </div>
  <div class="field">
    <%= f.label :v21 %><br />
    <%= f.number_field :v21 %>
  </div>
  <div class="field">
    <%= f.label :v22 %><br />
    <%= f.number_field :v22 %>
  </div>
  <div class="field">
    <%= f.label :v23 %><br />
    <%= f.number_field :v23 %>
  </div>
  <div class="field">
    <%= f.label :v23r %><br />
    <%= f.number_field :v23r %>
  </div>
  <div class="field">
    <%= f.label :v24 %><br />
    <%= f.number_field :v24 %>
  </div>
  <div class="field">
    <%= f.label :v25 %><br />
    <%= f.number_field :v25 %>
  </div>
  <div class="field">
    <%= f.label :v26a %><br />
    <%= f.number_field :v26a %>
  </div>
  <div class="field">
    <%= f.label :v26b %><br />
    <%= f.number_field :v26b %>
  </div>
  <div class="field">
    <%= f.label :v26c %><br />
    <%= f.number_field :v26c %>
  </div>
  <div class="field">
    <%= f.label :v26d %><br />
    <%= f.number_field :v26d %>
  </div>
  <div class="field">
    <%= f.label :v26e %><br />
    <%= f.number_field :v26e %>
  </div>
  <div class="field">
    <%= f.label :v27a %><br />
    <%= f.number_field :v27a %>
  </div>
  <div class="field">
    <%= f.label :v27b %><br />
    <%= f.number_field :v27b %>
  </div>
  <div class="field">
    <%= f.label :v27c %><br />
    <%= f.number_field :v27c %>
  </div>
  <div class="field">
    <%= f.label :v27d %><br />
    <%= f.number_field :v27d %>
  </div>
  <div class="field">
    <%= f.label :v27e %><br />
    <%= f.number_field :v27e %>
  </div>
  <div class="field">
    <%= f.label :v28 %><br />
    <%= f.number_field :v28 %>
  </div>
  <div class="field">
    <%= f.label :v29 %><br />
    <%= f.number_field :v29 %>
  </div>
  <div class="field">
    <%= f.label :v30 %><br />
    <%= f.number_field :v30 %>
  </div>
  <div class="field">
    <%= f.label :v31 %><br />
    <%= f.number_field :v31 %>
  </div>
  <div class="field">
    <%= f.label :v32 %><br />
    <%= f.number_field :v32 %>
  </div>
  <div class="field">
    <%= f.label :v33 %><br />
    <%= f.number_field :v33 %>
  </div>
  <div class="field">
    <%= f.label :v34 %><br />
    <%= f.number_field :v34 %>
  </div>
  <div class="field">
    <%= f.label :v35 %><br />
    <%= f.number_field :v35 %>
  </div>
  <div class="field">
    <%= f.label :v36 %><br />
    <%= f.number_field :v36 %>
  </div>
  <div class="field">
    <%= f.label :v37 %><br />
    <%= f.number_field :v37 %>
  </div>
  <div class="field">
    <%= f.label :v38 %><br />
    <%= f.number_field :v38 %>
  </div>
  <div class="field">
    <%= f.label :v39 %><br />
    <%= f.number_field :v39 %>
  </div>
  <div class="field">
    <%= f.label :v0a %><br />
    <%= f.number_field :v0a %>
  </div>
  <div class="field">
    <%= f.label :v0b %><br />
    <%= f.number_field :v0b %>
  </div>
  <div class="field">
    <%= f.label :esc %><br />
    <%= f.number_field :esc %>
  </div>
  <div class="field">
    <%= f.label :educ %><br />
    <%= f.number_field :educ %>
  </div>
  <div class="field">
    <%= f.label :asiste %><br />
    <%= f.number_field :asiste %>
  </div>
  <div class="field">
    <%= f.label :depen %><br />
    <%= f.number_field :depen %>
  </div>
  <div class="field">
    <%= f.label :activ %><br />
    <%= f.number_field :activ %>
  </div>
  <div class="field">
    <%= f.label :oficio1 %><br />
    <%= f.number_field :oficio1 %>
  </div>
  <div class="field">
    <%= f.label :rama1_sub %><br />
    <%= f.number_field :rama1_sub %>
  </div>
  <div class="field">
    <%= f.label :rama1 %><br />
    <%= f.number_field :rama1 %>
  </div>
  <div class="field">
    <%= f.label :submuestra %><br />
    <%= f.number_field :submuestra %>
  </div>
  <div class="field">
    <%= f.label :corte %><br />
    <%= f.number_field :corte %>
  </div>
  <div class="field">
    <%= f.label :qaut %><br />
    <%= f.number_field :qaut %>
  </div>
  <div class="field">
    <%= f.label :daut %><br />
    <%= f.number_field :daut %>
  </div>
  <div class="field">
    <%= f.label :daur %><br />
    <%= f.number_field :daur %>
  </div>
  <div class="field">
    <%= f.label :qaur %><br />
    <%= f.number_field :qaur %>
  </div>
  <div class="field">
    <%= f.label :yopraj %><br />
    <%= f.number_field :yopraj %>
  </div>
  <div class="field">
    <%= f.label :yoprhaj %><br />
    <%= f.number_field :yoprhaj %>
  </div>
  <div class="field">
    <%= f.label :ytrabaj %><br />
    <%= f.number_field :ytrabaj %>
  </div>
  <div class="field">
    <%= f.label :ytrabhaj %><br />
    <%= f.number_field :ytrabhaj %>
  </div>
  <div class="field">
    <%= f.label :ypensaj %><br />
    <%= f.number_field :ypensaj %>
  </div>
  <div class="field">
    <%= f.label :ypenshaj %><br />
    <%= f.number_field :ypenshaj %>
  </div>
  <div class="field">
    <%= f.label :ypresaj %><br />
    <%= f.number_field :ypresaj %>
  </div>
  <div class="field">
    <%= f.label :ypreshaj %><br />
    <%= f.number_field :ypreshaj %>
  </div>
  <div class="field">
    <%= f.label :ysfamaj %><br />
    <%= f.number_field :ysfamaj %>
  </div>
  <div class="field">
    <%= f.label :ysfamhaj %><br />
    <%= f.number_field :ysfamhaj %>
  </div>
  <div class="field">
    <%= f.label :y2401aj %><br />
    <%= f.number_field :y2401aj %>
  </div>
  <div class="field">
    <%= f.label :y2401haj %><br />
    <%= f.number_field :y2401haj %>
  </div>
  <div class="field">
    <%= f.label :ycesaj %><br />
    <%= f.number_field :ycesaj %>
  </div>
  <div class="field">
    <%= f.label :yceshaj %><br />
    <%= f.number_field :yceshaj %>
  </div>
  <div class="field">
    <%= f.label :ybpfeaj %><br />
    <%= f.number_field :ybpfeaj %>
  </div>
  <div class="field">
    <%= f.label :ybpfehaj %><br />
    <%= f.number_field :ybpfehaj %>
  </div>
  <div class="field">
    <%= f.label :yfamaj %><br />
    <%= f.number_field :yfamaj %>
  </div>
  <div class="field">
    <%= f.label :yfamhaj %><br />
    <%= f.number_field :yfamhaj %>
  </div>
  <div class="field">
    <%= f.label :yotpaj %><br />
    <%= f.number_field :yotpaj %>
  </div>
  <div class="field">
    <%= f.label :yotphaj %><br />
    <%= f.number_field :yotphaj %>
  </div>
  <div class="field">
    <%= f.label :yjubaj %><br />
    <%= f.number_field :yjubaj %>
  </div>
  <div class="field">
    <%= f.label :yjubhaj %><br />
    <%= f.number_field :yjubhaj %>
  </div>
  <div class="field">
    <%= f.label :yvitaj %><br />
    <%= f.number_field :yvitaj %>
  </div>
  <div class="field">
    <%= f.label :yvithaj %><br />
    <%= f.number_field :yvithaj %>
  </div>
  <div class="field">
    <%= f.label :yinvaj %><br />
    <%= f.number_field :yinvaj %>
  </div>
  <div class="field">
    <%= f.label :yinvhaj %><br />
    <%= f.number_field :yinvhaj %>
  </div>
  <div class="field">
    <%= f.label :ymonaj %><br />
    <%= f.number_field :ymonaj %>
  </div>
  <div class="field">
    <%= f.label :ymonhaj %><br />
    <%= f.number_field :ymonhaj %>
  </div>
  <div class="field">
    <%= f.label :yorfaj %><br />
    <%= f.number_field :yorfaj %>
  </div>
  <div class="field">
    <%= f.label :yorfhaj %><br />
    <%= f.number_field :yorfhaj %>
  </div>
  <div class="field">
    <%= f.label :y2301aj %><br />
    <%= f.number_field :y2301aj %>
  </div>
  <div class="field">
    <%= f.label :y2301haj %><br />
    <%= f.number_field :y2301haj %>
  </div>
  <div class="field">
    <%= f.label :y2501aj %><br />
    <%= f.number_field :y2501aj %>
  </div>
  <div class="field">
    <%= f.label :y2501haj %><br />
    <%= f.number_field :y2501haj %>
  </div>
  <div class="field">
    <%= f.label :y2502aj %><br />
    <%= f.number_field :y2502aj %>
  </div>
  <div class="field">
    <%= f.label :y2502haj %><br />
    <%= f.number_field :y2502haj %>
  </div>
  <div class="field">
    <%= f.label :y2503aj %><br />
    <%= f.number_field :y2503aj %>
  </div>
  <div class="field">
    <%= f.label :y2503haj %><br />
    <%= f.number_field :y2503haj %>
  </div>
  <div class="field">
    <%= f.label :y2504aj %><br />
    <%= f.number_field :y2504aj %>
  </div>
  <div class="field">
    <%= f.label :y2504haj %><br />
    <%= f.number_field :y2504haj %>
  </div>
  <div class="field">
    <%= f.label :yautaj %><br />
    <%= f.number_field :yautaj %>
  </div>
  <div class="field">
    <%= f.label :yauthaj %><br />
    <%= f.number_field :yauthaj %>
  </div>
  <div class="field">
    <%= f.label :yoautaj %><br />
    <%= f.number_field :yoautaj %>
  </div>
  <div class="field">
    <%= f.label :yoauthaj %><br />
    <%= f.number_field :yoauthaj %>
  </div>
  <div class="field">
    <%= f.label :ymoneaj %><br />
    <%= f.number_field :ymoneaj %>
  </div>
  <div class="field">
    <%= f.label :ymonehaj %><br />
    <%= f.number_field :ymonehaj %>
  </div>
  <div class="field">
    <%= f.label :ysubaj %><br />
    <%= f.number_field :ysubaj %>
  </div>
  <div class="field">
    <%= f.label :ysubhaj %><br />
    <%= f.number_field :ysubhaj %>
  </div>
  <div class="field">
    <%= f.label :ytotaj %><br />
    <%= f.number_field :ytotaj %>
  </div>
  <div class="field">
    <%= f.label :ytothaj %><br />
    <%= f.number_field :ytothaj %>
  </div>
  <div class="field">
    <%= f.label :yaimhaj %><br />
    <%= f.number_field :yaimhaj %>
  </div>
  <div class="field">
    <%= f.label :ypcauthaj %><br />
    <%= f.number_field :ypcauthaj %>
  </div>
  <div class="field">
    <%= f.label :ypcmonhaj %><br />
    <%= f.number_field :ypcmonhaj %>
  </div>
  <div class="field">
    <%= f.label :indmat %><br />
    <%= f.number_field :indmat %>
  </div>
  <div class="field">
    <%= f.label :indsan %><br />
    <%= f.number_field :indsan %>
  </div>
  <div class="field">
    <%= f.label :cviv %><br />
    <%= f.number_field :cviv %>
  </div>
  <div class="field">
    <%= f.label :iae %><br />
    <%= f.number_field :iae %>
  </div>
  <div class="field">
    <%= f.label :iai %><br />
    <%= f.number_field :iai %>
  </div>
  <div class="field">
    <%= f.label :hacinamiento %><br />
    <%= f.number_field :hacinamiento %>
  </div>
  <div class="field">
    <%= f.label :mes_ent %><br />
    <%= f.number_field :mes_ent %>
  </div>
  <div class="field">
    <%= f.label :finde %><br />
    <%= f.number_field :finde %>
  </div>
  <div class="field">
    <%= f.label :hogar %><br />
    <%= f.number_field :hogar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
