<h1>Listing casens</h1>

<table>
  <tr>
    <th>Year</th>
    <th>Segmento</th>
    <th>Folio</th>
    <th>O</th>
    <th>Region</th>
    <th>Comuna</th>
    <th>Zona</th>
    <th>Estrato</th>
    <th>Varstrat</th>
    <th>Varunit</th>
    <th>Expr r2</th>
    <th>Expc r2</th>
    <th>Expr r2sat</th>
    <th>Expr r2fin</th>
    <th>Pobviv2002</th>
    <th>Mr2viv2011</th>
    <th>Fmr2</th>
    <th>Postpob</th>
    <th>Postid</th>
    <th>Pco1</th>
    <th>Viv</th>
    <th>Hog</th>
    <th>Tot hogviv</th>
    <th>O viv</th>
    <th>Sexo</th>
    <th>Edad</th>
    <th>Ecivil</th>
    <th>Pareja</th>
    <th>Nucleo</th>
    <th>Pco2</th>
    <th>Numper</th>
    <th>H11</th>
    <th>H11e esp</th>
    <th>E1</th>
    <th>E2a</th>
    <th>E2b</th>
    <th>E2c</th>
    <th>E3</th>
    <th>E4</th>
    <th>E5</th>
    <th>E6a</th>
    <th>E6b</th>
    <th>E6c</th>
    <th>E7</th>
    <th>E8dv</th>
    <th>E8nom</th>
    <th>E8dir</th>
    <th>E8com</th>
    <th>E8rbd</th>
    <th>E8te</th>
    <th>E9</th>
    <th>E10</th>
    <th>E11a</th>
    <th>E11b</th>
    <th>E11c</th>
    <th>E11d</th>
    <th>E12a</th>
    <th>E12b1</th>
    <th>E12b2</th>
    <th>E13pbu</th>
    <th>E13pbt</th>
    <th>E13pbd</th>
    <th>E13pbm</th>
    <th>E13bu</th>
    <th>E13bt</th>
    <th>E13bd</th>
    <th>E13bm</th>
    <th>E13bp</th>
    <th>E13mu</th>
    <th>E13mt</th>
    <th>E13md</th>
    <th>E13mm</th>
    <th>E14a</th>
    <th>E14b</th>
    <th>E15</th>
    <th>E16</th>
    <th>E17t1</th>
    <th>E17t2</th>
    <th>E18t1m</th>
    <th>E18t1p</th>
    <th>E18t2m</th>
    <th>E18t2p</th>
    <th>E0</th>
    <th>O1</th>
    <th>O2</th>
    <th>O3</th>
    <th>O4</th>
    <th>O5</th>
    <th>O6</th>
    <th>O7r1</th>
    <th>O7r2</th>
    <th>O8</th>
    <th>Oficio4</th>
    <th>O10</th>
    <th>O11</th>
    <th>O12</th>
    <th>O13</th>
    <th>O14</th>
    <th>O15</th>
    <th>O16</th>
    <th>O17</th>
    <th>O18</th>
    <th>O19</th>
    <th>O20</th>
    <th>Rama4 sub</th>
    <th>O22</th>
    <th>Rama4</th>
    <th>O24</th>
    <th>O25</th>
    <th>O26</th>
    <th>O27</th>
    <th>O28</th>
    <th>O29</th>
    <th>O30</th>
    <th>O0</th>
    <th>Y21</th>
    <th>Y28a</th>
    <th>Y28b</th>
    <th>Y28c</th>
    <th>Y28d</th>
    <th>Y28e</th>
    <th>Y29a</th>
    <th>Y29b1</th>
    <th>Y29b2</th>
    <th>Y29b3</th>
    <th>Y29b4</th>
    <th>Y29b5</th>
    <th>Y30a</th>
    <th>Y30b</th>
    <th>Y30c</th>
    <th>Y30d</th>
    <th>Y30e</th>
    <th>Y0</th>
    <th>S1</th>
    <th>S2a</th>
    <th>S2b</th>
    <th>S2c</th>
    <th>S3</th>
    <th>S4</th>
    <th>S5</th>
    <th>S6</th>
    <th>S7</th>
    <th>S8</th>
    <th>S9</th>
    <th>S10</th>
    <th>S11</th>
    <th>S12</th>
    <th>S13</th>
    <th>S14</th>
    <th>S15</th>
    <th>S16</th>
    <th>S17</th>
    <th>S18a</th>
    <th>S18b</th>
    <th>S19</th>
    <th>S20</th>
    <th>S21</th>
    <th>S22</th>
    <th>S23</th>
    <th>S24a</th>
    <th>S24b</th>
    <th>S24c</th>
    <th>S25a</th>
    <th>S25b</th>
    <th>S25c</th>
    <th>S26a</th>
    <th>S26b</th>
    <th>S26c</th>
    <th>S27a</th>
    <th>S27b</th>
    <th>S27c</th>
    <th>S28a</th>
    <th>S28b</th>
    <th>S28c</th>
    <th>S29a</th>
    <th>S29b</th>
    <th>S29c</th>
    <th>S30a</th>
    <th>S30b</th>
    <th>S30c</th>
    <th>S30d</th>
    <th>S31a</th>
    <th>S31b</th>
    <th>S31c</th>
    <th>S31d</th>
    <th>S32a</th>
    <th>S32b</th>
    <th>S32c</th>
    <th>S32d</th>
    <th>S33a</th>
    <th>S33b</th>
    <th>S33c</th>
    <th>S33d</th>
    <th>S34</th>
    <th>S35</th>
    <th>S36</th>
    <th>S37t1</th>
    <th>S37t2</th>
    <th>S37t3</th>
    <th>S38o1</th>
    <th>S38o2</th>
    <th>S38o3</th>
    <th>S39a</th>
    <th>S39b</th>
    <th>S39c</th>
    <th>S39d</th>
    <th>S40a</th>
    <th>S40b</th>
    <th>S40c</th>
    <th>S40d</th>
    <th>S40e</th>
    <th>S40f</th>
    <th>S40g</th>
    <th>S41a</th>
    <th>S41b</th>
    <th>S0</th>
    <th>R1a</th>
    <th>R1c cod</th>
    <th>R1b</th>
    <th>R1p cod</th>
    <th>R2</th>
    <th>R2c cod</th>
    <th>R2p cod</th>
    <th>R3</th>
    <th>R4mn</th>
    <th>R4mc</th>
    <th>R5pn</th>
    <th>R5pc</th>
    <th>R6</th>
    <th>R7</th>
    <th>R8</th>
    <th>R9</th>
    <th>R10</th>
    <th>R11a</th>
    <th>R11b</th>
    <th>R12</th>
    <th>R13a</th>
    <th>R13b</th>
    <th>R13c</th>
    <th>R13d</th>
    <th>R13e</th>
    <th>R13f</th>
    <th>R14a</th>
    <th>R14b</th>
    <th>R14c</th>
    <th>R14d</th>
    <th>R14e</th>
    <th>R15</th>
    <th>R16</th>
    <th>R17</th>
    <th>R18a</th>
    <th>R18b</th>
    <th>R18c</th>
    <th>R18d</th>
    <th>R18e</th>
    <th>R18f</th>
    <th>R18g</th>
    <th>R18h</th>
    <th>R19</th>
    <th>R20</th>
    <th>R0</th>
    <th>V1</th>
    <th>V2</th>
    <th>V2frent</th>
    <th>V2fo</th>
    <th>V3</th>
    <th>V4</th>
    <th>V5</th>
    <th>V5m</th>
    <th>V6</th>
    <th>V7</th>
    <th>V8</th>
    <th>V9</th>
    <th>V10</th>
    <th>V11</th>
    <th>V12</th>
    <th>V13</th>
    <th>V14</th>
    <th>V15</th>
    <th>V16a</th>
    <th>V16b</th>
    <th>V16c</th>
    <th>V17</th>
    <th>V18</th>
    <th>V19</th>
    <th>V19r</th>
    <th>V20</th>
    <th>V21</th>
    <th>V22</th>
    <th>V23</th>
    <th>V23r</th>
    <th>V24</th>
    <th>V25</th>
    <th>V26a</th>
    <th>V26b</th>
    <th>V26c</th>
    <th>V26d</th>
    <th>V26e</th>
    <th>V27a</th>
    <th>V27b</th>
    <th>V27c</th>
    <th>V27d</th>
    <th>V27e</th>
    <th>V28</th>
    <th>V29</th>
    <th>V30</th>
    <th>V31</th>
    <th>V32</th>
    <th>V33</th>
    <th>V34</th>
    <th>V35</th>
    <th>V36</th>
    <th>V37</th>
    <th>V38</th>
    <th>V39</th>
    <th>V0a</th>
    <th>V0b</th>
    <th>Esc</th>
    <th>Educ</th>
    <th>Asiste</th>
    <th>Depen</th>
    <th>Activ</th>
    <th>Oficio1</th>
    <th>Rama1 sub</th>
    <th>Rama1</th>
    <th>Submuestra</th>
    <th>Corte</th>
    <th>Qaut</th>
    <th>Daut</th>
    <th>Daur</th>
    <th>Qaur</th>
    <th>Yopraj</th>
    <th>Yoprhaj</th>
    <th>Ytrabaj</th>
    <th>Ytrabhaj</th>
    <th>Ypensaj</th>
    <th>Ypenshaj</th>
    <th>Ypresaj</th>
    <th>Ypreshaj</th>
    <th>Ysfamaj</th>
    <th>Ysfamhaj</th>
    <th>Y2401aj</th>
    <th>Y2401haj</th>
    <th>Ycesaj</th>
    <th>Yceshaj</th>
    <th>Ybpfeaj</th>
    <th>Ybpfehaj</th>
    <th>Yfamaj</th>
    <th>Yfamhaj</th>
    <th>Yotpaj</th>
    <th>Yotphaj</th>
    <th>Yjubaj</th>
    <th>Yjubhaj</th>
    <th>Yvitaj</th>
    <th>Yvithaj</th>
    <th>Yinvaj</th>
    <th>Yinvhaj</th>
    <th>Ymonaj</th>
    <th>Ymonhaj</th>
    <th>Yorfaj</th>
    <th>Yorfhaj</th>
    <th>Y2301aj</th>
    <th>Y2301haj</th>
    <th>Y2501aj</th>
    <th>Y2501haj</th>
    <th>Y2502aj</th>
    <th>Y2502haj</th>
    <th>Y2503aj</th>
    <th>Y2503haj</th>
    <th>Y2504aj</th>
    <th>Y2504haj</th>
    <th>Yautaj</th>
    <th>Yauthaj</th>
    <th>Yoautaj</th>
    <th>Yoauthaj</th>
    <th>Ymoneaj</th>
    <th>Ymonehaj</th>
    <th>Ysubaj</th>
    <th>Ysubhaj</th>
    <th>Ytotaj</th>
    <th>Ytothaj</th>
    <th>Yaimhaj</th>
    <th>Ypcauthaj</th>
    <th>Ypcmonhaj</th>
    <th>Indmat</th>
    <th>Indsan</th>
    <th>Cviv</th>
    <th>Iae</th>
    <th>Iai</th>
    <th>Hacinamiento</th>
    <th>Mes ent</th>
    <th>Finde</th>
    <th>Hogar</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @casens.each do |casen| %>
  <tr>
    <td><%= casen.year %></td>
    <td><%= casen.segmento %></td>
    <td><%= casen.folio %></td>
    <td><%= casen.o %></td>
    <td><%= casen.region %></td>
    <td><%= casen.comuna %></td>
    <td><%= casen.zona %></td>
    <td><%= casen.estrato %></td>
    <td><%= casen.varstrat %></td>
    <td><%= casen.varunit %></td>
    <td><%= casen.expr_r2 %></td>
    <td><%= casen.expc_r2 %></td>
    <td><%= casen.expr_r2sat %></td>
    <td><%= casen.expr_r2fin %></td>
    <td><%= casen.pobviv2002 %></td>
    <td><%= casen.mr2viv2011 %></td>
    <td><%= casen.fmr2 %></td>
    <td><%= casen.postpob %></td>
    <td><%= casen.postid %></td>
    <td><%= casen.pco1 %></td>
    <td><%= casen.viv %></td>
    <td><%= casen.hog %></td>
    <td><%= casen.tot_hogviv %></td>
    <td><%= casen.o_viv %></td>
    <td><%= casen.sexo %></td>
    <td><%= casen.edad %></td>
    <td><%= casen.ecivil %></td>
    <td><%= casen.pareja %></td>
    <td><%= casen.nucleo %></td>
    <td><%= casen.pco2 %></td>
    <td><%= casen.numper %></td>
    <td><%= casen.h11 %></td>
    <td><%= casen.h11e_esp %></td>
    <td><%= casen.e1 %></td>
    <td><%= casen.e2a %></td>
    <td><%= casen.e2b %></td>
    <td><%= casen.e2c %></td>
    <td><%= casen.e3 %></td>
    <td><%= casen.e4 %></td>
    <td><%= casen.e5 %></td>
    <td><%= casen.e6a %></td>
    <td><%= casen.e6b %></td>
    <td><%= casen.e6c %></td>
    <td><%= casen.e7 %></td>
    <td><%= casen.e8dv %></td>
    <td><%= casen.e8nom %></td>
    <td><%= casen.e8dir %></td>
    <td><%= casen.e8com %></td>
    <td><%= casen.e8rbd %></td>
    <td><%= casen.e8te %></td>
    <td><%= casen.e9 %></td>
    <td><%= casen.e10 %></td>
    <td><%= casen.e11a %></td>
    <td><%= casen.e11b %></td>
    <td><%= casen.e11c %></td>
    <td><%= casen.e11d %></td>
    <td><%= casen.e12a %></td>
    <td><%= casen.e12b1 %></td>
    <td><%= casen.e12b2 %></td>
    <td><%= casen.e13pbu %></td>
    <td><%= casen.e13pbt %></td>
    <td><%= casen.e13pbd %></td>
    <td><%= casen.e13pbm %></td>
    <td><%= casen.e13bu %></td>
    <td><%= casen.e13bt %></td>
    <td><%= casen.e13bd %></td>
    <td><%= casen.e13bm %></td>
    <td><%= casen.e13bp %></td>
    <td><%= casen.e13mu %></td>
    <td><%= casen.e13mt %></td>
    <td><%= casen.e13md %></td>
    <td><%= casen.e13mm %></td>
    <td><%= casen.e14a %></td>
    <td><%= casen.e14b %></td>
    <td><%= casen.e15 %></td>
    <td><%= casen.e16 %></td>
    <td><%= casen.e17t1 %></td>
    <td><%= casen.e17t2 %></td>
    <td><%= casen.e18t1m %></td>
    <td><%= casen.e18t1p %></td>
    <td><%= casen.e18t2m %></td>
    <td><%= casen.e18t2p %></td>
    <td><%= casen.e0 %></td>
    <td><%= casen.o1 %></td>
    <td><%= casen.o2 %></td>
    <td><%= casen.o3 %></td>
    <td><%= casen.o4 %></td>
    <td><%= casen.o5 %></td>
    <td><%= casen.o6 %></td>
    <td><%= casen.o7r1 %></td>
    <td><%= casen.o7r2 %></td>
    <td><%= casen.o8 %></td>
    <td><%= casen.oficio4 %></td>
    <td><%= casen.o10 %></td>
    <td><%= casen.o11 %></td>
    <td><%= casen.o12 %></td>
    <td><%= casen.o13 %></td>
    <td><%= casen.o14 %></td>
    <td><%= casen.o15 %></td>
    <td><%= casen.o16 %></td>
    <td><%= casen.o17 %></td>
    <td><%= casen.o18 %></td>
    <td><%= casen.o19 %></td>
    <td><%= casen.o20 %></td>
    <td><%= casen.rama4_sub %></td>
    <td><%= casen.o22 %></td>
    <td><%= casen.rama4 %></td>
    <td><%= casen.o24 %></td>
    <td><%= casen.o25 %></td>
    <td><%= casen.o26 %></td>
    <td><%= casen.o27 %></td>
    <td><%= casen.o28 %></td>
    <td><%= casen.o29 %></td>
    <td><%= casen.o30 %></td>
    <td><%= casen.o0 %></td>
    <td><%= casen.y21 %></td>
    <td><%= casen.y28a %></td>
    <td><%= casen.y28b %></td>
    <td><%= casen.y28c %></td>
    <td><%= casen.y28d %></td>
    <td><%= casen.y28e %></td>
    <td><%= casen.y29a %></td>
    <td><%= casen.y29b1 %></td>
    <td><%= casen.y29b2 %></td>
    <td><%= casen.y29b3 %></td>
    <td><%= casen.y29b4 %></td>
    <td><%= casen.y29b5 %></td>
    <td><%= casen.y30a %></td>
    <td><%= casen.y30b %></td>
    <td><%= casen.y30c %></td>
    <td><%= casen.y30d %></td>
    <td><%= casen.y30e %></td>
    <td><%= casen.y0 %></td>
    <td><%= casen.s1 %></td>
    <td><%= casen.s2a %></td>
    <td><%= casen.s2b %></td>
    <td><%= casen.s2c %></td>
    <td><%= casen.s3 %></td>
    <td><%= casen.s4 %></td>
    <td><%= casen.s5 %></td>
    <td><%= casen.s6 %></td>
    <td><%= casen.s7 %></td>
    <td><%= casen.s8 %></td>
    <td><%= casen.s9 %></td>
    <td><%= casen.s10 %></td>
    <td><%= casen.s11 %></td>
    <td><%= casen.s12 %></td>
    <td><%= casen.s13 %></td>
    <td><%= casen.s14 %></td>
    <td><%= casen.s15 %></td>
    <td><%= casen.s16 %></td>
    <td><%= casen.s17 %></td>
    <td><%= casen.s18a %></td>
    <td><%= casen.s18b %></td>
    <td><%= casen.s19 %></td>
    <td><%= casen.s20 %></td>
    <td><%= casen.s21 %></td>
    <td><%= casen.s22 %></td>
    <td><%= casen.s23 %></td>
    <td><%= casen.s24a %></td>
    <td><%= casen.s24b %></td>
    <td><%= casen.s24c %></td>
    <td><%= casen.s25a %></td>
    <td><%= casen.s25b %></td>
    <td><%= casen.s25c %></td>
    <td><%= casen.s26a %></td>
    <td><%= casen.s26b %></td>
    <td><%= casen.s26c %></td>
    <td><%= casen.s27a %></td>
    <td><%= casen.s27b %></td>
    <td><%= casen.s27c %></td>
    <td><%= casen.s28a %></td>
    <td><%= casen.s28b %></td>
    <td><%= casen.s28c %></td>
    <td><%= casen.s29a %></td>
    <td><%= casen.s29b %></td>
    <td><%= casen.s29c %></td>
    <td><%= casen.s30a %></td>
    <td><%= casen.s30b %></td>
    <td><%= casen.s30c %></td>
    <td><%= casen.s30d %></td>
    <td><%= casen.s31a %></td>
    <td><%= casen.s31b %></td>
    <td><%= casen.s31c %></td>
    <td><%= casen.s31d %></td>
    <td><%= casen.s32a %></td>
    <td><%= casen.s32b %></td>
    <td><%= casen.s32c %></td>
    <td><%= casen.s32d %></td>
    <td><%= casen.s33a %></td>
    <td><%= casen.s33b %></td>
    <td><%= casen.s33c %></td>
    <td><%= casen.s33d %></td>
    <td><%= casen.s34 %></td>
    <td><%= casen.s35 %></td>
    <td><%= casen.s36 %></td>
    <td><%= casen.s37t1 %></td>
    <td><%= casen.s37t2 %></td>
    <td><%= casen.s37t3 %></td>
    <td><%= casen.s38o1 %></td>
    <td><%= casen.s38o2 %></td>
    <td><%= casen.s38o3 %></td>
    <td><%= casen.s39a %></td>
    <td><%= casen.s39b %></td>
    <td><%= casen.s39c %></td>
    <td><%= casen.s39d %></td>
    <td><%= casen.s40a %></td>
    <td><%= casen.s40b %></td>
    <td><%= casen.s40c %></td>
    <td><%= casen.s40d %></td>
    <td><%= casen.s40e %></td>
    <td><%= casen.s40f %></td>
    <td><%= casen.s40g %></td>
    <td><%= casen.s41a %></td>
    <td><%= casen.s41b %></td>
    <td><%= casen.s0 %></td>
    <td><%= casen.r1a %></td>
    <td><%= casen.r1c_cod %></td>
    <td><%= casen.r1b %></td>
    <td><%= casen.r1p_cod %></td>
    <td><%= casen.r2 %></td>
    <td><%= casen.r2c_cod %></td>
    <td><%= casen.r2p_cod %></td>
    <td><%= casen.r3 %></td>
    <td><%= casen.r4mn %></td>
    <td><%= casen.r4mc %></td>
    <td><%= casen.r5pn %></td>
    <td><%= casen.r5pc %></td>
    <td><%= casen.r6 %></td>
    <td><%= casen.r7 %></td>
    <td><%= casen.r8 %></td>
    <td><%= casen.r9 %></td>
    <td><%= casen.r10 %></td>
    <td><%= casen.r11a %></td>
    <td><%= casen.r11b %></td>
    <td><%= casen.r12 %></td>
    <td><%= casen.r13a %></td>
    <td><%= casen.r13b %></td>
    <td><%= casen.r13c %></td>
    <td><%= casen.r13d %></td>
    <td><%= casen.r13e %></td>
    <td><%= casen.r13f %></td>
    <td><%= casen.r14a %></td>
    <td><%= casen.r14b %></td>
    <td><%= casen.r14c %></td>
    <td><%= casen.r14d %></td>
    <td><%= casen.r14e %></td>
    <td><%= casen.r15 %></td>
    <td><%= casen.r16 %></td>
    <td><%= casen.r17 %></td>
    <td><%= casen.r18a %></td>
    <td><%= casen.r18b %></td>
    <td><%= casen.r18c %></td>
    <td><%= casen.r18d %></td>
    <td><%= casen.r18e %></td>
    <td><%= casen.r18f %></td>
    <td><%= casen.r18g %></td>
    <td><%= casen.r18h %></td>
    <td><%= casen.r19 %></td>
    <td><%= casen.r20 %></td>
    <td><%= casen.r0 %></td>
    <td><%= casen.v1 %></td>
    <td><%= casen.v2 %></td>
    <td><%= casen.v2frent %></td>
    <td><%= casen.v2fo %></td>
    <td><%= casen.v3 %></td>
    <td><%= casen.v4 %></td>
    <td><%= casen.v5 %></td>
    <td><%= casen.v5m %></td>
    <td><%= casen.v6 %></td>
    <td><%= casen.v7 %></td>
    <td><%= casen.v8 %></td>
    <td><%= casen.v9 %></td>
    <td><%= casen.v10 %></td>
    <td><%= casen.v11 %></td>
    <td><%= casen.v12 %></td>
    <td><%= casen.v13 %></td>
    <td><%= casen.v14 %></td>
    <td><%= casen.v15 %></td>
    <td><%= casen.v16a %></td>
    <td><%= casen.v16b %></td>
    <td><%= casen.v16c %></td>
    <td><%= casen.v17 %></td>
    <td><%= casen.v18 %></td>
    <td><%= casen.v19 %></td>
    <td><%= casen.v19r %></td>
    <td><%= casen.v20 %></td>
    <td><%= casen.v21 %></td>
    <td><%= casen.v22 %></td>
    <td><%= casen.v23 %></td>
    <td><%= casen.v23r %></td>
    <td><%= casen.v24 %></td>
    <td><%= casen.v25 %></td>
    <td><%= casen.v26a %></td>
    <td><%= casen.v26b %></td>
    <td><%= casen.v26c %></td>
    <td><%= casen.v26d %></td>
    <td><%= casen.v26e %></td>
    <td><%= casen.v27a %></td>
    <td><%= casen.v27b %></td>
    <td><%= casen.v27c %></td>
    <td><%= casen.v27d %></td>
    <td><%= casen.v27e %></td>
    <td><%= casen.v28 %></td>
    <td><%= casen.v29 %></td>
    <td><%= casen.v30 %></td>
    <td><%= casen.v31 %></td>
    <td><%= casen.v32 %></td>
    <td><%= casen.v33 %></td>
    <td><%= casen.v34 %></td>
    <td><%= casen.v35 %></td>
    <td><%= casen.v36 %></td>
    <td><%= casen.v37 %></td>
    <td><%= casen.v38 %></td>
    <td><%= casen.v39 %></td>
    <td><%= casen.v0a %></td>
    <td><%= casen.v0b %></td>
    <td><%= casen.esc %></td>
    <td><%= casen.educ %></td>
    <td><%= casen.asiste %></td>
    <td><%= casen.depen %></td>
    <td><%= casen.activ %></td>
    <td><%= casen.oficio1 %></td>
    <td><%= casen.rama1_sub %></td>
    <td><%= casen.rama1 %></td>
    <td><%= casen.submuestra %></td>
    <td><%= casen.corte %></td>
    <td><%= casen.qaut %></td>
    <td><%= casen.daut %></td>
    <td><%= casen.daur %></td>
    <td><%= casen.qaur %></td>
    <td><%= casen.yopraj %></td>
    <td><%= casen.yoprhaj %></td>
    <td><%= casen.ytrabaj %></td>
    <td><%= casen.ytrabhaj %></td>
    <td><%= casen.ypensaj %></td>
    <td><%= casen.ypenshaj %></td>
    <td><%= casen.ypresaj %></td>
    <td><%= casen.ypreshaj %></td>
    <td><%= casen.ysfamaj %></td>
    <td><%= casen.ysfamhaj %></td>
    <td><%= casen.y2401aj %></td>
    <td><%= casen.y2401haj %></td>
    <td><%= casen.ycesaj %></td>
    <td><%= casen.yceshaj %></td>
    <td><%= casen.ybpfeaj %></td>
    <td><%= casen.ybpfehaj %></td>
    <td><%= casen.yfamaj %></td>
    <td><%= casen.yfamhaj %></td>
    <td><%= casen.yotpaj %></td>
    <td><%= casen.yotphaj %></td>
    <td><%= casen.yjubaj %></td>
    <td><%= casen.yjubhaj %></td>
    <td><%= casen.yvitaj %></td>
    <td><%= casen.yvithaj %></td>
    <td><%= casen.yinvaj %></td>
    <td><%= casen.yinvhaj %></td>
    <td><%= casen.ymonaj %></td>
    <td><%= casen.ymonhaj %></td>
    <td><%= casen.yorfaj %></td>
    <td><%= casen.yorfhaj %></td>
    <td><%= casen.y2301aj %></td>
    <td><%= casen.y2301haj %></td>
    <td><%= casen.y2501aj %></td>
    <td><%= casen.y2501haj %></td>
    <td><%= casen.y2502aj %></td>
    <td><%= casen.y2502haj %></td>
    <td><%= casen.y2503aj %></td>
    <td><%= casen.y2503haj %></td>
    <td><%= casen.y2504aj %></td>
    <td><%= casen.y2504haj %></td>
    <td><%= casen.yautaj %></td>
    <td><%= casen.yauthaj %></td>
    <td><%= casen.yoautaj %></td>
    <td><%= casen.yoauthaj %></td>
    <td><%= casen.ymoneaj %></td>
    <td><%= casen.ymonehaj %></td>
    <td><%= casen.ysubaj %></td>
    <td><%= casen.ysubhaj %></td>
    <td><%= casen.ytotaj %></td>
    <td><%= casen.ytothaj %></td>
    <td><%= casen.yaimhaj %></td>
    <td><%= casen.ypcauthaj %></td>
    <td><%= casen.ypcmonhaj %></td>
    <td><%= casen.indmat %></td>
    <td><%= casen.indsan %></td>
    <td><%= casen.cviv %></td>
    <td><%= casen.iae %></td>
    <td><%= casen.iai %></td>
    <td><%= casen.hacinamiento %></td>
    <td><%= casen.mes_ent %></td>
    <td><%= casen.finde %></td>
    <td><%= casen.hogar %></td>
    <td><%= link_to 'Show', casen %></td>
    <td><%= link_to 'Edit', edit_casen_path(casen) %></td>
    <td><%= link_to 'Destroy', casen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Casen', new_casen_path %>
