<p id="notice"><%= notice %></p>

<p>
  <b>Year:</b>
  <%= @casen.year %>
</p>

<p>
  <b>Segmento:</b>
  <%= @casen.segmento %>
</p>

<p>
  <b>Folio:</b>
  <%= @casen.folio %>
</p>

<p>
  <b>O:</b>
  <%= @casen.o %>
</p>

<p>
  <b>Region:</b>
  <%= @casen.region %>
</p>

<p>
  <b>Comuna:</b>
  <%= @casen.comuna %>
</p>

<p>
  <b>Zona:</b>
  <%= @casen.zona %>
</p>

<p>
  <b>Estrato:</b>
  <%= @casen.estrato %>
</p>

<p>
  <b>Varstrat:</b>
  <%= @casen.varstrat %>
</p>

<p>
  <b>Varunit:</b>
  <%= @casen.varunit %>
</p>

<p>
  <b>Expr r2:</b>
  <%= @casen.expr_r2 %>
</p>

<p>
  <b>Expc r2:</b>
  <%= @casen.expc_r2 %>
</p>

<p>
  <b>Expr r2sat:</b>
  <%= @casen.expr_r2sat %>
</p>

<p>
  <b>Expr r2fin:</b>
  <%= @casen.expr_r2fin %>
</p>

<p>
  <b>Pobviv2002:</b>
  <%= @casen.pobviv2002 %>
</p>

<p>
  <b>Mr2viv2011:</b>
  <%= @casen.mr2viv2011 %>
</p>

<p>
  <b>Fmr2:</b>
  <%= @casen.fmr2 %>
</p>

<p>
  <b>Postpob:</b>
  <%= @casen.postpob %>
</p>

<p>
  <b>Postid:</b>
  <%= @casen.postid %>
</p>

<p>
  <b>Pco1:</b>
  <%= @casen.pco1 %>
</p>

<p>
  <b>Viv:</b>
  <%= @casen.viv %>
</p>

<p>
  <b>Hog:</b>
  <%= @casen.hog %>
</p>

<p>
  <b>Tot hogviv:</b>
  <%= @casen.tot_hogviv %>
</p>

<p>
  <b>O viv:</b>
  <%= @casen.o_viv %>
</p>

<p>
  <b>Sexo:</b>
  <%= @casen.sexo %>
</p>

<p>
  <b>Edad:</b>
  <%= @casen.edad %>
</p>

<p>
  <b>Ecivil:</b>
  <%= @casen.ecivil %>
</p>

<p>
  <b>Pareja:</b>
  <%= @casen.pareja %>
</p>

<p>
  <b>Nucleo:</b>
  <%= @casen.nucleo %>
</p>

<p>
  <b>Pco2:</b>
  <%= @casen.pco2 %>
</p>

<p>
  <b>Numper:</b>
  <%= @casen.numper %>
</p>

<p>
  <b>H11:</b>
  <%= @casen.h11 %>
</p>

<p>
  <b>H11e esp:</b>
  <%= @casen.h11e_esp %>
</p>

<p>
  <b>E1:</b>
  <%= @casen.e1 %>
</p>

<p>
  <b>E2a:</b>
  <%= @casen.e2a %>
</p>

<p>
  <b>E2b:</b>
  <%= @casen.e2b %>
</p>

<p>
  <b>E2c:</b>
  <%= @casen.e2c %>
</p>

<p>
  <b>E3:</b>
  <%= @casen.e3 %>
</p>

<p>
  <b>E4:</b>
  <%= @casen.e4 %>
</p>

<p>
  <b>E5:</b>
  <%= @casen.e5 %>
</p>

<p>
  <b>E6a:</b>
  <%= @casen.e6a %>
</p>

<p>
  <b>E6b:</b>
  <%= @casen.e6b %>
</p>

<p>
  <b>E6c:</b>
  <%= @casen.e6c %>
</p>

<p>
  <b>E7:</b>
  <%= @casen.e7 %>
</p>

<p>
  <b>E8dv:</b>
  <%= @casen.e8dv %>
</p>

<p>
  <b>E8nom:</b>
  <%= @casen.e8nom %>
</p>

<p>
  <b>E8dir:</b>
  <%= @casen.e8dir %>
</p>

<p>
  <b>E8com:</b>
  <%= @casen.e8com %>
</p>

<p>
  <b>E8rbd:</b>
  <%= @casen.e8rbd %>
</p>

<p>
  <b>E8te:</b>
  <%= @casen.e8te %>
</p>

<p>
  <b>E9:</b>
  <%= @casen.e9 %>
</p>

<p>
  <b>E10:</b>
  <%= @casen.e10 %>
</p>

<p>
  <b>E11a:</b>
  <%= @casen.e11a %>
</p>

<p>
  <b>E11b:</b>
  <%= @casen.e11b %>
</p>

<p>
  <b>E11c:</b>
  <%= @casen.e11c %>
</p>

<p>
  <b>E11d:</b>
  <%= @casen.e11d %>
</p>

<p>
  <b>E12a:</b>
  <%= @casen.e12a %>
</p>

<p>
  <b>E12b1:</b>
  <%= @casen.e12b1 %>
</p>

<p>
  <b>E12b2:</b>
  <%= @casen.e12b2 %>
</p>

<p>
  <b>E13pbu:</b>
  <%= @casen.e13pbu %>
</p>

<p>
  <b>E13pbt:</b>
  <%= @casen.e13pbt %>
</p>

<p>
  <b>E13pbd:</b>
  <%= @casen.e13pbd %>
</p>

<p>
  <b>E13pbm:</b>
  <%= @casen.e13pbm %>
</p>

<p>
  <b>E13bu:</b>
  <%= @casen.e13bu %>
</p>

<p>
  <b>E13bt:</b>
  <%= @casen.e13bt %>
</p>

<p>
  <b>E13bd:</b>
  <%= @casen.e13bd %>
</p>

<p>
  <b>E13bm:</b>
  <%= @casen.e13bm %>
</p>

<p>
  <b>E13bp:</b>
  <%= @casen.e13bp %>
</p>

<p>
  <b>E13mu:</b>
  <%= @casen.e13mu %>
</p>

<p>
  <b>E13mt:</b>
  <%= @casen.e13mt %>
</p>

<p>
  <b>E13md:</b>
  <%= @casen.e13md %>
</p>

<p>
  <b>E13mm:</b>
  <%= @casen.e13mm %>
</p>

<p>
  <b>E14a:</b>
  <%= @casen.e14a %>
</p>

<p>
  <b>E14b:</b>
  <%= @casen.e14b %>
</p>

<p>
  <b>E15:</b>
  <%= @casen.e15 %>
</p>

<p>
  <b>E16:</b>
  <%= @casen.e16 %>
</p>

<p>
  <b>E17t1:</b>
  <%= @casen.e17t1 %>
</p>

<p>
  <b>E17t2:</b>
  <%= @casen.e17t2 %>
</p>

<p>
  <b>E18t1m:</b>
  <%= @casen.e18t1m %>
</p>

<p>
  <b>E18t1p:</b>
  <%= @casen.e18t1p %>
</p>

<p>
  <b>E18t2m:</b>
  <%= @casen.e18t2m %>
</p>

<p>
  <b>E18t2p:</b>
  <%= @casen.e18t2p %>
</p>

<p>
  <b>E0:</b>
  <%= @casen.e0 %>
</p>

<p>
  <b>O1:</b>
  <%= @casen.o1 %>
</p>

<p>
  <b>O2:</b>
  <%= @casen.o2 %>
</p>

<p>
  <b>O3:</b>
  <%= @casen.o3 %>
</p>

<p>
  <b>O4:</b>
  <%= @casen.o4 %>
</p>

<p>
  <b>O5:</b>
  <%= @casen.o5 %>
</p>

<p>
  <b>O6:</b>
  <%= @casen.o6 %>
</p>

<p>
  <b>O7r1:</b>
  <%= @casen.o7r1 %>
</p>

<p>
  <b>O7r2:</b>
  <%= @casen.o7r2 %>
</p>

<p>
  <b>O8:</b>
  <%= @casen.o8 %>
</p>

<p>
  <b>Oficio4:</b>
  <%= @casen.oficio4 %>
</p>

<p>
  <b>O10:</b>
  <%= @casen.o10 %>
</p>

<p>
  <b>O11:</b>
  <%= @casen.o11 %>
</p>

<p>
  <b>O12:</b>
  <%= @casen.o12 %>
</p>

<p>
  <b>O13:</b>
  <%= @casen.o13 %>
</p>

<p>
  <b>O14:</b>
  <%= @casen.o14 %>
</p>

<p>
  <b>O15:</b>
  <%= @casen.o15 %>
</p>

<p>
  <b>O16:</b>
  <%= @casen.o16 %>
</p>

<p>
  <b>O17:</b>
  <%= @casen.o17 %>
</p>

<p>
  <b>O18:</b>
  <%= @casen.o18 %>
</p>

<p>
  <b>O19:</b>
  <%= @casen.o19 %>
</p>

<p>
  <b>O20:</b>
  <%= @casen.o20 %>
</p>

<p>
  <b>Rama4 sub:</b>
  <%= @casen.rama4_sub %>
</p>

<p>
  <b>O22:</b>
  <%= @casen.o22 %>
</p>

<p>
  <b>Rama4:</b>
  <%= @casen.rama4 %>
</p>

<p>
  <b>O24:</b>
  <%= @casen.o24 %>
</p>

<p>
  <b>O25:</b>
  <%= @casen.o25 %>
</p>

<p>
  <b>O26:</b>
  <%= @casen.o26 %>
</p>

<p>
  <b>O27:</b>
  <%= @casen.o27 %>
</p>

<p>
  <b>O28:</b>
  <%= @casen.o28 %>
</p>

<p>
  <b>O29:</b>
  <%= @casen.o29 %>
</p>

<p>
  <b>O30:</b>
  <%= @casen.o30 %>
</p>

<p>
  <b>O0:</b>
  <%= @casen.o0 %>
</p>

<p>
  <b>Y21:</b>
  <%= @casen.y21 %>
</p>

<p>
  <b>Y28a:</b>
  <%= @casen.y28a %>
</p>

<p>
  <b>Y28b:</b>
  <%= @casen.y28b %>
</p>

<p>
  <b>Y28c:</b>
  <%= @casen.y28c %>
</p>

<p>
  <b>Y28d:</b>
  <%= @casen.y28d %>
</p>

<p>
  <b>Y28e:</b>
  <%= @casen.y28e %>
</p>

<p>
  <b>Y29a:</b>
  <%= @casen.y29a %>
</p>

<p>
  <b>Y29b1:</b>
  <%= @casen.y29b1 %>
</p>

<p>
  <b>Y29b2:</b>
  <%= @casen.y29b2 %>
</p>

<p>
  <b>Y29b3:</b>
  <%= @casen.y29b3 %>
</p>

<p>
  <b>Y29b4:</b>
  <%= @casen.y29b4 %>
</p>

<p>
  <b>Y29b5:</b>
  <%= @casen.y29b5 %>
</p>

<p>
  <b>Y30a:</b>
  <%= @casen.y30a %>
</p>

<p>
  <b>Y30b:</b>
  <%= @casen.y30b %>
</p>

<p>
  <b>Y30c:</b>
  <%= @casen.y30c %>
</p>

<p>
  <b>Y30d:</b>
  <%= @casen.y30d %>
</p>

<p>
  <b>Y30e:</b>
  <%= @casen.y30e %>
</p>

<p>
  <b>Y0:</b>
  <%= @casen.y0 %>
</p>

<p>
  <b>S1:</b>
  <%= @casen.s1 %>
</p>

<p>
  <b>S2a:</b>
  <%= @casen.s2a %>
</p>

<p>
  <b>S2b:</b>
  <%= @casen.s2b %>
</p>

<p>
  <b>S2c:</b>
  <%= @casen.s2c %>
</p>

<p>
  <b>S3:</b>
  <%= @casen.s3 %>
</p>

<p>
  <b>S4:</b>
  <%= @casen.s4 %>
</p>

<p>
  <b>S5:</b>
  <%= @casen.s5 %>
</p>

<p>
  <b>S6:</b>
  <%= @casen.s6 %>
</p>

<p>
  <b>S7:</b>
  <%= @casen.s7 %>
</p>

<p>
  <b>S8:</b>
  <%= @casen.s8 %>
</p>

<p>
  <b>S9:</b>
  <%= @casen.s9 %>
</p>

<p>
  <b>S10:</b>
  <%= @casen.s10 %>
</p>

<p>
  <b>S11:</b>
  <%= @casen.s11 %>
</p>

<p>
  <b>S12:</b>
  <%= @casen.s12 %>
</p>

<p>
  <b>S13:</b>
  <%= @casen.s13 %>
</p>

<p>
  <b>S14:</b>
  <%= @casen.s14 %>
</p>

<p>
  <b>S15:</b>
  <%= @casen.s15 %>
</p>

<p>
  <b>S16:</b>
  <%= @casen.s16 %>
</p>

<p>
  <b>S17:</b>
  <%= @casen.s17 %>
</p>

<p>
  <b>S18a:</b>
  <%= @casen.s18a %>
</p>

<p>
  <b>S18b:</b>
  <%= @casen.s18b %>
</p>

<p>
  <b>S19:</b>
  <%= @casen.s19 %>
</p>

<p>
  <b>S20:</b>
  <%= @casen.s20 %>
</p>

<p>
  <b>S21:</b>
  <%= @casen.s21 %>
</p>

<p>
  <b>S22:</b>
  <%= @casen.s22 %>
</p>

<p>
  <b>S23:</b>
  <%= @casen.s23 %>
</p>

<p>
  <b>S24a:</b>
  <%= @casen.s24a %>
</p>

<p>
  <b>S24b:</b>
  <%= @casen.s24b %>
</p>

<p>
  <b>S24c:</b>
  <%= @casen.s24c %>
</p>

<p>
  <b>S25a:</b>
  <%= @casen.s25a %>
</p>

<p>
  <b>S25b:</b>
  <%= @casen.s25b %>
</p>

<p>
  <b>S25c:</b>
  <%= @casen.s25c %>
</p>

<p>
  <b>S26a:</b>
  <%= @casen.s26a %>
</p>

<p>
  <b>S26b:</b>
  <%= @casen.s26b %>
</p>

<p>
  <b>S26c:</b>
  <%= @casen.s26c %>
</p>

<p>
  <b>S27a:</b>
  <%= @casen.s27a %>
</p>

<p>
  <b>S27b:</b>
  <%= @casen.s27b %>
</p>

<p>
  <b>S27c:</b>
  <%= @casen.s27c %>
</p>

<p>
  <b>S28a:</b>
  <%= @casen.s28a %>
</p>

<p>
  <b>S28b:</b>
  <%= @casen.s28b %>
</p>

<p>
  <b>S28c:</b>
  <%= @casen.s28c %>
</p>

<p>
  <b>S29a:</b>
  <%= @casen.s29a %>
</p>

<p>
  <b>S29b:</b>
  <%= @casen.s29b %>
</p>

<p>
  <b>S29c:</b>
  <%= @casen.s29c %>
</p>

<p>
  <b>S30a:</b>
  <%= @casen.s30a %>
</p>

<p>
  <b>S30b:</b>
  <%= @casen.s30b %>
</p>

<p>
  <b>S30c:</b>
  <%= @casen.s30c %>
</p>

<p>
  <b>S30d:</b>
  <%= @casen.s30d %>
</p>

<p>
  <b>S31a:</b>
  <%= @casen.s31a %>
</p>

<p>
  <b>S31b:</b>
  <%= @casen.s31b %>
</p>

<p>
  <b>S31c:</b>
  <%= @casen.s31c %>
</p>

<p>
  <b>S31d:</b>
  <%= @casen.s31d %>
</p>

<p>
  <b>S32a:</b>
  <%= @casen.s32a %>
</p>

<p>
  <b>S32b:</b>
  <%= @casen.s32b %>
</p>

<p>
  <b>S32c:</b>
  <%= @casen.s32c %>
</p>

<p>
  <b>S32d:</b>
  <%= @casen.s32d %>
</p>

<p>
  <b>S33a:</b>
  <%= @casen.s33a %>
</p>

<p>
  <b>S33b:</b>
  <%= @casen.s33b %>
</p>

<p>
  <b>S33c:</b>
  <%= @casen.s33c %>
</p>

<p>
  <b>S33d:</b>
  <%= @casen.s33d %>
</p>

<p>
  <b>S34:</b>
  <%= @casen.s34 %>
</p>

<p>
  <b>S35:</b>
  <%= @casen.s35 %>
</p>

<p>
  <b>S36:</b>
  <%= @casen.s36 %>
</p>

<p>
  <b>S37t1:</b>
  <%= @casen.s37t1 %>
</p>

<p>
  <b>S37t2:</b>
  <%= @casen.s37t2 %>
</p>

<p>
  <b>S37t3:</b>
  <%= @casen.s37t3 %>
</p>

<p>
  <b>S38o1:</b>
  <%= @casen.s38o1 %>
</p>

<p>
  <b>S38o2:</b>
  <%= @casen.s38o2 %>
</p>

<p>
  <b>S38o3:</b>
  <%= @casen.s38o3 %>
</p>

<p>
  <b>S39a:</b>
  <%= @casen.s39a %>
</p>

<p>
  <b>S39b:</b>
  <%= @casen.s39b %>
</p>

<p>
  <b>S39c:</b>
  <%= @casen.s39c %>
</p>

<p>
  <b>S39d:</b>
  <%= @casen.s39d %>
</p>

<p>
  <b>S40a:</b>
  <%= @casen.s40a %>
</p>

<p>
  <b>S40b:</b>
  <%= @casen.s40b %>
</p>

<p>
  <b>S40c:</b>
  <%= @casen.s40c %>
</p>

<p>
  <b>S40d:</b>
  <%= @casen.s40d %>
</p>

<p>
  <b>S40e:</b>
  <%= @casen.s40e %>
</p>

<p>
  <b>S40f:</b>
  <%= @casen.s40f %>
</p>

<p>
  <b>S40g:</b>
  <%= @casen.s40g %>
</p>

<p>
  <b>S41a:</b>
  <%= @casen.s41a %>
</p>

<p>
  <b>S41b:</b>
  <%= @casen.s41b %>
</p>

<p>
  <b>S0:</b>
  <%= @casen.s0 %>
</p>

<p>
  <b>R1a:</b>
  <%= @casen.r1a %>
</p>

<p>
  <b>R1c cod:</b>
  <%= @casen.r1c_cod %>
</p>

<p>
  <b>R1b:</b>
  <%= @casen.r1b %>
</p>

<p>
  <b>R1p cod:</b>
  <%= @casen.r1p_cod %>
</p>

<p>
  <b>R2:</b>
  <%= @casen.r2 %>
</p>

<p>
  <b>R2c cod:</b>
  <%= @casen.r2c_cod %>
</p>

<p>
  <b>R2p cod:</b>
  <%= @casen.r2p_cod %>
</p>

<p>
  <b>R3:</b>
  <%= @casen.r3 %>
</p>

<p>
  <b>R4mn:</b>
  <%= @casen.r4mn %>
</p>

<p>
  <b>R4mc:</b>
  <%= @casen.r4mc %>
</p>

<p>
  <b>R5pn:</b>
  <%= @casen.r5pn %>
</p>

<p>
  <b>R5pc:</b>
  <%= @casen.r5pc %>
</p>

<p>
  <b>R6:</b>
  <%= @casen.r6 %>
</p>

<p>
  <b>R7:</b>
  <%= @casen.r7 %>
</p>

<p>
  <b>R8:</b>
  <%= @casen.r8 %>
</p>

<p>
  <b>R9:</b>
  <%= @casen.r9 %>
</p>

<p>
  <b>R10:</b>
  <%= @casen.r10 %>
</p>

<p>
  <b>R11a:</b>
  <%= @casen.r11a %>
</p>

<p>
  <b>R11b:</b>
  <%= @casen.r11b %>
</p>

<p>
  <b>R12:</b>
  <%= @casen.r12 %>
</p>

<p>
  <b>R13a:</b>
  <%= @casen.r13a %>
</p>

<p>
  <b>R13b:</b>
  <%= @casen.r13b %>
</p>

<p>
  <b>R13c:</b>
  <%= @casen.r13c %>
</p>

<p>
  <b>R13d:</b>
  <%= @casen.r13d %>
</p>

<p>
  <b>R13e:</b>
  <%= @casen.r13e %>
</p>

<p>
  <b>R13f:</b>
  <%= @casen.r13f %>
</p>

<p>
  <b>R14a:</b>
  <%= @casen.r14a %>
</p>

<p>
  <b>R14b:</b>
  <%= @casen.r14b %>
</p>

<p>
  <b>R14c:</b>
  <%= @casen.r14c %>
</p>

<p>
  <b>R14d:</b>
  <%= @casen.r14d %>
</p>

<p>
  <b>R14e:</b>
  <%= @casen.r14e %>
</p>

<p>
  <b>R15:</b>
  <%= @casen.r15 %>
</p>

<p>
  <b>R16:</b>
  <%= @casen.r16 %>
</p>

<p>
  <b>R17:</b>
  <%= @casen.r17 %>
</p>

<p>
  <b>R18a:</b>
  <%= @casen.r18a %>
</p>

<p>
  <b>R18b:</b>
  <%= @casen.r18b %>
</p>

<p>
  <b>R18c:</b>
  <%= @casen.r18c %>
</p>

<p>
  <b>R18d:</b>
  <%= @casen.r18d %>
</p>

<p>
  <b>R18e:</b>
  <%= @casen.r18e %>
</p>

<p>
  <b>R18f:</b>
  <%= @casen.r18f %>
</p>

<p>
  <b>R18g:</b>
  <%= @casen.r18g %>
</p>

<p>
  <b>R18h:</b>
  <%= @casen.r18h %>
</p>

<p>
  <b>R19:</b>
  <%= @casen.r19 %>
</p>

<p>
  <b>R20:</b>
  <%= @casen.r20 %>
</p>

<p>
  <b>R0:</b>
  <%= @casen.r0 %>
</p>

<p>
  <b>V1:</b>
  <%= @casen.v1 %>
</p>

<p>
  <b>V2:</b>
  <%= @casen.v2 %>
</p>

<p>
  <b>V2frent:</b>
  <%= @casen.v2frent %>
</p>

<p>
  <b>V2fo:</b>
  <%= @casen.v2fo %>
</p>

<p>
  <b>V3:</b>
  <%= @casen.v3 %>
</p>

<p>
  <b>V4:</b>
  <%= @casen.v4 %>
</p>

<p>
  <b>V5:</b>
  <%= @casen.v5 %>
</p>

<p>
  <b>V5m:</b>
  <%= @casen.v5m %>
</p>

<p>
  <b>V6:</b>
  <%= @casen.v6 %>
</p>

<p>
  <b>V7:</b>
  <%= @casen.v7 %>
</p>

<p>
  <b>V8:</b>
  <%= @casen.v8 %>
</p>

<p>
  <b>V9:</b>
  <%= @casen.v9 %>
</p>

<p>
  <b>V10:</b>
  <%= @casen.v10 %>
</p>

<p>
  <b>V11:</b>
  <%= @casen.v11 %>
</p>

<p>
  <b>V12:</b>
  <%= @casen.v12 %>
</p>

<p>
  <b>V13:</b>
  <%= @casen.v13 %>
</p>

<p>
  <b>V14:</b>
  <%= @casen.v14 %>
</p>

<p>
  <b>V15:</b>
  <%= @casen.v15 %>
</p>

<p>
  <b>V16a:</b>
  <%= @casen.v16a %>
</p>

<p>
  <b>V16b:</b>
  <%= @casen.v16b %>
</p>

<p>
  <b>V16c:</b>
  <%= @casen.v16c %>
</p>

<p>
  <b>V17:</b>
  <%= @casen.v17 %>
</p>

<p>
  <b>V18:</b>
  <%= @casen.v18 %>
</p>

<p>
  <b>V19:</b>
  <%= @casen.v19 %>
</p>

<p>
  <b>V19r:</b>
  <%= @casen.v19r %>
</p>

<p>
  <b>V20:</b>
  <%= @casen.v20 %>
</p>

<p>
  <b>V21:</b>
  <%= @casen.v21 %>
</p>

<p>
  <b>V22:</b>
  <%= @casen.v22 %>
</p>

<p>
  <b>V23:</b>
  <%= @casen.v23 %>
</p>

<p>
  <b>V23r:</b>
  <%= @casen.v23r %>
</p>

<p>
  <b>V24:</b>
  <%= @casen.v24 %>
</p>

<p>
  <b>V25:</b>
  <%= @casen.v25 %>
</p>

<p>
  <b>V26a:</b>
  <%= @casen.v26a %>
</p>

<p>
  <b>V26b:</b>
  <%= @casen.v26b %>
</p>

<p>
  <b>V26c:</b>
  <%= @casen.v26c %>
</p>

<p>
  <b>V26d:</b>
  <%= @casen.v26d %>
</p>

<p>
  <b>V26e:</b>
  <%= @casen.v26e %>
</p>

<p>
  <b>V27a:</b>
  <%= @casen.v27a %>
</p>

<p>
  <b>V27b:</b>
  <%= @casen.v27b %>
</p>

<p>
  <b>V27c:</b>
  <%= @casen.v27c %>
</p>

<p>
  <b>V27d:</b>
  <%= @casen.v27d %>
</p>

<p>
  <b>V27e:</b>
  <%= @casen.v27e %>
</p>

<p>
  <b>V28:</b>
  <%= @casen.v28 %>
</p>

<p>
  <b>V29:</b>
  <%= @casen.v29 %>
</p>

<p>
  <b>V30:</b>
  <%= @casen.v30 %>
</p>

<p>
  <b>V31:</b>
  <%= @casen.v31 %>
</p>

<p>
  <b>V32:</b>
  <%= @casen.v32 %>
</p>

<p>
  <b>V33:</b>
  <%= @casen.v33 %>
</p>

<p>
  <b>V34:</b>
  <%= @casen.v34 %>
</p>

<p>
  <b>V35:</b>
  <%= @casen.v35 %>
</p>

<p>
  <b>V36:</b>
  <%= @casen.v36 %>
</p>

<p>
  <b>V37:</b>
  <%= @casen.v37 %>
</p>

<p>
  <b>V38:</b>
  <%= @casen.v38 %>
</p>

<p>
  <b>V39:</b>
  <%= @casen.v39 %>
</p>

<p>
  <b>V0a:</b>
  <%= @casen.v0a %>
</p>

<p>
  <b>V0b:</b>
  <%= @casen.v0b %>
</p>

<p>
  <b>Esc:</b>
  <%= @casen.esc %>
</p>

<p>
  <b>Educ:</b>
  <%= @casen.educ %>
</p>

<p>
  <b>Asiste:</b>
  <%= @casen.asiste %>
</p>

<p>
  <b>Depen:</b>
  <%= @casen.depen %>
</p>

<p>
  <b>Activ:</b>
  <%= @casen.activ %>
</p>

<p>
  <b>Oficio1:</b>
  <%= @casen.oficio1 %>
</p>

<p>
  <b>Rama1 sub:</b>
  <%= @casen.rama1_sub %>
</p>

<p>
  <b>Rama1:</b>
  <%= @casen.rama1 %>
</p>

<p>
  <b>Submuestra:</b>
  <%= @casen.submuestra %>
</p>

<p>
  <b>Corte:</b>
  <%= @casen.corte %>
</p>

<p>
  <b>Qaut:</b>
  <%= @casen.qaut %>
</p>

<p>
  <b>Daut:</b>
  <%= @casen.daut %>
</p>

<p>
  <b>Daur:</b>
  <%= @casen.daur %>
</p>

<p>
  <b>Qaur:</b>
  <%= @casen.qaur %>
</p>

<p>
  <b>Yopraj:</b>
  <%= @casen.yopraj %>
</p>

<p>
  <b>Yoprhaj:</b>
  <%= @casen.yoprhaj %>
</p>

<p>
  <b>Ytrabaj:</b>
  <%= @casen.ytrabaj %>
</p>

<p>
  <b>Ytrabhaj:</b>
  <%= @casen.ytrabhaj %>
</p>

<p>
  <b>Ypensaj:</b>
  <%= @casen.ypensaj %>
</p>

<p>
  <b>Ypenshaj:</b>
  <%= @casen.ypenshaj %>
</p>

<p>
  <b>Ypresaj:</b>
  <%= @casen.ypresaj %>
</p>

<p>
  <b>Ypreshaj:</b>
  <%= @casen.ypreshaj %>
</p>

<p>
  <b>Ysfamaj:</b>
  <%= @casen.ysfamaj %>
</p>

<p>
  <b>Ysfamhaj:</b>
  <%= @casen.ysfamhaj %>
</p>

<p>
  <b>Y2401aj:</b>
  <%= @casen.y2401aj %>
</p>

<p>
  <b>Y2401haj:</b>
  <%= @casen.y2401haj %>
</p>

<p>
  <b>Ycesaj:</b>
  <%= @casen.ycesaj %>
</p>

<p>
  <b>Yceshaj:</b>
  <%= @casen.yceshaj %>
</p>

<p>
  <b>Ybpfeaj:</b>
  <%= @casen.ybpfeaj %>
</p>

<p>
  <b>Ybpfehaj:</b>
  <%= @casen.ybpfehaj %>
</p>

<p>
  <b>Yfamaj:</b>
  <%= @casen.yfamaj %>
</p>

<p>
  <b>Yfamhaj:</b>
  <%= @casen.yfamhaj %>
</p>

<p>
  <b>Yotpaj:</b>
  <%= @casen.yotpaj %>
</p>

<p>
  <b>Yotphaj:</b>
  <%= @casen.yotphaj %>
</p>

<p>
  <b>Yjubaj:</b>
  <%= @casen.yjubaj %>
</p>

<p>
  <b>Yjubhaj:</b>
  <%= @casen.yjubhaj %>
</p>

<p>
  <b>Yvitaj:</b>
  <%= @casen.yvitaj %>
</p>

<p>
  <b>Yvithaj:</b>
  <%= @casen.yvithaj %>
</p>

<p>
  <b>Yinvaj:</b>
  <%= @casen.yinvaj %>
</p>

<p>
  <b>Yinvhaj:</b>
  <%= @casen.yinvhaj %>
</p>

<p>
  <b>Ymonaj:</b>
  <%= @casen.ymonaj %>
</p>

<p>
  <b>Ymonhaj:</b>
  <%= @casen.ymonhaj %>
</p>

<p>
  <b>Yorfaj:</b>
  <%= @casen.yorfaj %>
</p>

<p>
  <b>Yorfhaj:</b>
  <%= @casen.yorfhaj %>
</p>

<p>
  <b>Y2301aj:</b>
  <%= @casen.y2301aj %>
</p>

<p>
  <b>Y2301haj:</b>
  <%= @casen.y2301haj %>
</p>

<p>
  <b>Y2501aj:</b>
  <%= @casen.y2501aj %>
</p>

<p>
  <b>Y2501haj:</b>
  <%= @casen.y2501haj %>
</p>

<p>
  <b>Y2502aj:</b>
  <%= @casen.y2502aj %>
</p>

<p>
  <b>Y2502haj:</b>
  <%= @casen.y2502haj %>
</p>

<p>
  <b>Y2503aj:</b>
  <%= @casen.y2503aj %>
</p>

<p>
  <b>Y2503haj:</b>
  <%= @casen.y2503haj %>
</p>

<p>
  <b>Y2504aj:</b>
  <%= @casen.y2504aj %>
</p>

<p>
  <b>Y2504haj:</b>
  <%= @casen.y2504haj %>
</p>

<p>
  <b>Yautaj:</b>
  <%= @casen.yautaj %>
</p>

<p>
  <b>Yauthaj:</b>
  <%= @casen.yauthaj %>
</p>

<p>
  <b>Yoautaj:</b>
  <%= @casen.yoautaj %>
</p>

<p>
  <b>Yoauthaj:</b>
  <%= @casen.yoauthaj %>
</p>

<p>
  <b>Ymoneaj:</b>
  <%= @casen.ymoneaj %>
</p>

<p>
  <b>Ymonehaj:</b>
  <%= @casen.ymonehaj %>
</p>

<p>
  <b>Ysubaj:</b>
  <%= @casen.ysubaj %>
</p>

<p>
  <b>Ysubhaj:</b>
  <%= @casen.ysubhaj %>
</p>

<p>
  <b>Ytotaj:</b>
  <%= @casen.ytotaj %>
</p>

<p>
  <b>Ytothaj:</b>
  <%= @casen.ytothaj %>
</p>

<p>
  <b>Yaimhaj:</b>
  <%= @casen.yaimhaj %>
</p>

<p>
  <b>Ypcauthaj:</b>
  <%= @casen.ypcauthaj %>
</p>

<p>
  <b>Ypcmonhaj:</b>
  <%= @casen.ypcmonhaj %>
</p>

<p>
  <b>Indmat:</b>
  <%= @casen.indmat %>
</p>

<p>
  <b>Indsan:</b>
  <%= @casen.indsan %>
</p>

<p>
  <b>Cviv:</b>
  <%= @casen.cviv %>
</p>

<p>
  <b>Iae:</b>
  <%= @casen.iae %>
</p>

<p>
  <b>Iai:</b>
  <%= @casen.iai %>
</p>

<p>
  <b>Hacinamiento:</b>
  <%= @casen.hacinamiento %>
</p>

<p>
  <b>Mes ent:</b>
  <%= @casen.mes_ent %>
</p>

<p>
  <b>Finde:</b>
  <%= @casen.finde %>
</p>

<p>
  <b>Hogar:</b>
  <%= @casen.hogar %>
</p>


<%= link_to 'Edit', edit_casen_path(@casen) %> |
<%= link_to 'Back', casens_path %>
