<%= form_for(@layer_category) do |f| %>
  <% if @layer_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@layer_category.errors.count, "error") %> prohibited this layer_category from being saved:</h2>

      <ul>
      <% @layer_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
