<h1>Listing layer_categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @layer_categories.each do |layer_category| %>
  <tr>
    <td><%= layer_category.name %></td>
    <td><%= layer_category.description %></td>
    <td><%= link_to 'Show', layer_category %></td>
    <td><%= link_to 'Edit', edit_layer_category_path(layer_category) %></td>
    <td><%= link_to 'Destroy', layer_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Layer category', new_layer_category_path %>
