<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @layer_category.name %>
</p>

<p>
  <b>Description:</b>
  <%= @layer_category.description %>
</p>


<%= link_to 'Edit', edit_layer_category_path(@layer_category) %> |
<%= link_to 'Back', layer_categories_path %>
