<h1>Listing dictionaries</h1>

<table>
  <tr>
    <th>Variable</th>
    <th>Label</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dictionaries.each do |dictionary| %>
  <tr>
    <td><%= dictionary.variable %></td>
    <td><%= dictionary.label %></td>
    <td><%= dictionary.comment %></td>
    <td><%= link_to 'Show', dictionary %></td>
    <td><%= link_to 'Edit', edit_dictionary_path(dictionary) %></td>
    <td><%= link_to 'Destroy', dictionary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dictionary', new_dictionary_path %>
