<p id="notice"><%= notice %></p>

<p>
  <b>Variable:</b>
  <%= @dictionary.variable %>
</p>

<p>
  <b>Label:</b>
  <%= @dictionary.label %>
</p>

<p>
  <b>Comment:</b>
  <%= @dictionary.comment %>
</p>


<%= link_to 'Edit', edit_dictionary_path(@dictionary) %> |
<%= link_to 'Back', dictionaries_path %>
