<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title> Diaphanum</title>

  <%= stylesheet_link_tag    "map" %>
  <%= stylesheet_link_tag    "/resources/extjs/examples/ux/grid/css/RangeMenu" %>
  <%= stylesheet_link_tag    "/resources/extjs/examples/ux/grid/css/GridFilters" %>
  <%= stylesheet_link_tag    "/resources/extjs/resources/css/ext-all-neptune-rtl-debug.css", :media => "all" %>
  <%= javascript_include_tag "/resources/OpenLayers/OpenLayers.light.js" %>
  <%= javascript_include_tag "/resources/extjs/ext-all.js" %>
  <%= javascript_include_tag "/resources/extjs/ext-theme-neptune.js" %>
  <%= javascript_include_tag "/app/app.js" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDzby5oumTFfRI8TF-8g_-gdIL5AmDU9ew&sensor=true" %>

    <%= csrf_meta_tags %>
  </head>
	<div class='app'> </div>

  <body>

    <%= yield %>
  </body>
</html>
