<h1>Listing layers</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Maxvalue</th>
    <th>Minvalue</th>
    <th>Name</th>
    <th>Opacity</th>
    <th>Show</th>
    <th>Style</th>
    <th>Title</th>
    <th>Variable</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @layers.each do |layer| %>
  <tr>
    <td><%= layer.description %></td>
    <td><%= layer.maxValue %></td>
    <td><%= layer.minValue %></td>
    <td><%= layer.name %></td>
    <td><%= layer.opacity %></td>
    <td><%= layer.show %></td>
    <td><%= layer.style %></td>
    <td><%= layer.title %></td>
    <td><%= layer.variable %></td>
    <td><%= link_to 'Show', layer %></td>
    <td><%= link_to 'Edit', edit_layer_path(layer) %></td>
    <td><%= link_to 'Destroy', layer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Layer', new_layer_path %>
