<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @layer.description %>
</p>

<p>
  <b>Maxvalue:</b>
  <%= @layer.maxValue %>
</p>

<p>
  <b>Minvalue:</b>
  <%= @layer.minValue %>
</p>

<p>
  <b>Name:</b>
  <%= @layer.name %>
</p>

<p>
  <b>Opacity:</b>
  <%= @layer.opacity %>
</p>

<p>
  <b>Show:</b>
  <%= @layer.show %>
</p>

<p>
  <b>Style:</b>
  <%= @layer.style %>
</p>

<p>
  <b>Title:</b>
  <%= @layer.title %>
</p>

<p>
  <b>Variable:</b>
  <%= @layer.variable %>
</p>


<%= link_to 'Edit', edit_layer_path(@layer) %> |
<%= link_to 'Back', layers_path %>
